<div class="center-aboutme">
    <h1 class="center-title">About Me</h1> 
    <p class="center-description">
        I’m deeply <a class="crossed__out--word ">passionate</a>  about the transformative power of data 
        in shaping business decisions. Data allows organizations to adapt, 
        grow, and innovate in ways they never imagined. Throughout my career, 
        
    </p>
    <p class="center-description"> 
        I’ve focused on <a style="font-weight: bold; color: #FFF; font-style: italic;">helping companies</a> streamline their processes 
        and make smarter, data-driven decisions.
    </p>

    <p class="center-description">
        I really believe organizations thrive when they harness the <a style="font-weight: bold; color: #FFF; font-style: italic;">power of data</a> and technology 
        to streamline operations, enhance decision-making, and drive measurable results.
    </p>

    <p class="center-description">
        I'm also passionate about crafting data 
        stories that not only inform but inspire action. 
        But beyond technical expertise, <a class="crossed__out--word ">soft skills are key</a>. 
        
    </p>
    <p class="center-description">
        I thrive in collaborative environments and believe in building 
        strong relationships with stakeholders to foster trust and drive 
        efficiency.
    </p>

    <div class="main-center-description">
        <p class="center-description-resalted">
            "My goal is to empower 
            businesses to unlock the full potential of their data, 
            fostering innovation and strategic growth"
        </p>
    </div>
    
        
</div>