<section>
    <div class="center-container">
        <h1 class="center-title">👋 Welcome!</h1>
        <div class="center-welcome-container"> 
            
            <p class="center-description">
                I am a professional with 6 years of experience working as an analyst, with a background 
                in data engineering. 
                I specialize in ingesting data from different sources, designing efficient datasets,
                optimizing pipelines, and delivering actionable insights to enhance business operations.
            </p>
            <!-- <img height="400" width="400" class="center-welcome-pic" src="/images/data-home.svg" alt="">  -->

            
            
            
        </div>
        
    
    
        <div class="center-aboutme">
            <h1 class="center-title">About Me</h1> 
            <p class="center-description">
                I am truly passionate about data and its transformative power in shaping business decisions. 
                Data enables companies to pivot and grow in ways they never imagined. 
                Throughout my career, I have discovered a deep passion for helping individuals and 
                companies improve their processes.
            </p>

            <p class="center-description">
                It seems almost inconceivable to me that companies would not leverage tools like process 
                automation to minimize human error, build internal databases for 
                decision-making, use external data sources to study the market and products, 
                or implement daily reports containing the key metrics that help understand business performance.
                With even a small amount of well-organized data, organizations can make strategic, 
                high-impact decisions. 
            </p>

            <p class="center-description">
                I’m passionate about crafting compelling data narratives that don’t 
                just inform but also inspire action. However, being a great data professional requires 
                more than technical expertise; soft skills are essential. 
                I thrive in collaborative environments, working closely with diverse teams and building 
                strong professional relationships with stakeholders. 
                These connections are crucial for fostering trust and improving the pace of work.
            </p>

            <p class="center-description">
                My approach to analytics goes beyond numbers. 
                With a solid grasp of the business logic, 
                I can not only deliver meaningful data but also suggest improvements to metrics and processes.
                Ultimately, my goal is to empower organizations to harness the full potential of data, 
            driving innovation and strategic growth."
            </p>
                
        </div>
    
        <div class="center-recommendations">
            <h1 class="center-title">Recommendations</h1> 
            <div class="recommendations-container">
                <div class="recomendations-blocks">
                    <div class="recommendation-title">
                        <h4>Connor S</h4>
                        <p>Head of Business Inteligence</p>
                        <p>(Denver, CO)</p>
                        <div class="recommendation-stars">
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                        </div>
                    </div>
                    <div class="recommendation-description">
                        <p>Alex became a primary source of innovation within the team.  </p>
                        <p>When given a problem, he demonstrated a pattern for delivering on the immediate need
                         quickly while highlighting the steps to build better systems.</p>
                        <p>His thoughtful contributions to the team, especially in the data visualization space, set the standard for many of our deliverables.</p>               
                    </div>
                    
                </div>
                <div class="recomendations-blocks">
                    <div class="recommendation-title">
                        <h4>Siobhan S</h4>
                        <p>Human Resources Manager</p>
                        <p>(United Kingdom)</p>
                        <div class="recommendation-stars">
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                        </div>
                    </div>
                    <div class="recommendation-description">
                        <p>Alexander consistently proved to be a loyal, hard working and dedicated
                            individual. Within his professional and personal realms.</p>
                            <p>He's able to adapt his communication to
                            suit his audience and always demonstrates a positive, friendly and professional attitude to others. </p>
                            <p>
                            Alexander displayed great enthusiasm and commitment to the team that
                            he worked with.</p>
                            <p>I strongly recommend him.</p>
                            
                        </p>
                    </div>
                    
                </div>
                <div class="recomendations-blocks">
                    <div class="recommendation-title">
                        <h4>Luis G</h4>
                        <p>Head of Quality Assurance</p>
                        <p>(Buenos Aires)</p>
                        <div class="recommendation-stars">
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                        </div>
                    </div>
                    <div class="recommendation-description">
                        <p>I had the opportunity to work with Alex and I must say, that he brings to the table what a team needs:
                            <br>
                            Clear vision and understanding of processes 
                            Easy manner to perform solid results sharing knowledge with colleagues
                            Great attitude and initiatives to create and inspire others. 
                            <br>
                            So glad to know that we were able to work together. Congrats for a successful career, my friend! 🖤</p>
                    </div>  
                    
                </div>
                <div class="recomendations-blocks">
                    <div class="recommendation-title">
                        <h4>Alejandro R</h4>
                        <p>Head of Operations Team</p>
                        <p>(Buenos Aires)</p>
                        <div class="recommendation-stars">
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                            <img height="16" width="16" class="center-welcome-pic" src="/images/star.svg" alt=""> 
                        </div>
                    </div>
                    <div class="recommendation-description">
                        <p>Alex always looks ahead to find the areas of improvement. 
                            <br>Working with him was really a rich experience as he was always sharing ideas and proactively helping the team.
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
<!-- 
        <div class="center-data">
            <h1 class="center-title">Data Path</h1>
            <p>Based on my experience, this is the data-flow that I mostly like about:</p>
            <h4>ELT: Extract Load and Transform</h4>
            <p>When transforming before loading, you have the risk of</p>
            <div class="center-data-container">
                <p>Data<br>Ingestion</p>
                <img height="20" width="20" class="" src="/images/arrow.svg" alt=""> 
                <p>Data<br>Warehouse</p>
                <img height="20" width="20" class="nav-icon" src="/images/arrow.svg" alt=""> 
                <p>Data<br>Monitoring</p>
                <img height="20" width="20" class="nav-icon" src="/images/arrow.svg" alt=""> 
                <p>Data<br>Visualization</p>
            </div>
        </div> -->

        
    
    </div>
</section>