<section>
    <div class="center-container">
        <h1 class="center-title">👋 Welcome to my website!!</h1>
        <div class="center-welcome-container"> 
        <p class="center-description">If you are here, it means that you are interested in getting to know me a little bit better. Well, let me say you that you are in the right place. Something really important <a class="word__bold first__color--word"> that you need to know before we start this journey,</a> is that if you spend at least 45 seconds reading my website, you will know me so much better and hopefully I could impress you and work together</p>
        <img height="400" width="400" class="center-welcome-pic" src="/images/data-home.svg" alt="Alexander Tisko is a freelancer Data Analyst working around the world with different type of clients.">
    </div>
        
    
    
        <div class="center-aboutme">
            <h1 class="center-title">About Me</h1>
        </div>
    
        <div class="center-recommendations">
            <h1 class="center-title">Recommendations</h1>
        </div>

        <div class="center-touch">
            <h1 class="center-title">Let's Get in Touch</h1>
        </div>

        <div class="center-touch">
            <img class="center-faqs-pic" src="/images/faq.svg" alt="FAQs section for Alexander Tisko website." srcset="">
        </div>
    
    </div>
</section>