<section>
    <div class="center-container">
        <h1 class="center-title">👋 I'm Alex!</h1>
        
        <p class="center-description">If you are here, it means that you are interested in getting to know me a little bit better. Well, let me say you that you are in the right place. Something really important <a class="word__bold first__color--word"> that you need to know before we start this journey,</a> is that if you spend at least 45 seconds reading my website, you will know me so much better and hopefully I could impress you and work together</p>
    </div>
</section>