<div class="center-touch">
    <img class="center-faqs-pic" src="/images/faq.svg" alt="FAQs section for Alexander Tisko website." srcset="">
</div>

<section class="faqs relative" id="faqs">
    <div class="faqs__content">
      <div class="faqs__container">

        <div class="faqs__template faqs__template--closed">
          <div class="faqs__template--header flex">
            <h3 class="faqs__template--question">
              Why data analysis?
            </h3>
            <i class="uil uil-angle-down faqs__template--arrow"></i>
          </div>
          <div class="faqs__template--answer">
            <p>
              Did you ever think on how much you could do if you have the right data in your hands? Data lives everywhere, it's one of the <a class="word__bold first__color--word">most powerful resources</a> for a company and for a human.
            </p>
            <p>
              I started my journey helping companies to understand their issues with data and visualizations. I realized that I am a very <a class="word__bold first__color--word">detail oriented person</a>, so I was able to find very easy patterns and issues in the data. 
            </p>
            <p>
              I started and finished different careers and courses about data analyst, data scientist and data engineering. I learned how the data is pulled into a database from different APIs. With that data I was able to create <a class="word__bold first__color--word">data warehouses</a>, and then <a class="word__bold first__color--word">data marts</a> for reporting purposes of the companies. 
            </p>
            <p>
              Finally, using different visualization tools and with a story telling skill, I was able to show excellent reports to the stakeholders.
            </p>
          </div>
        </div>

        <div class="faqs__template faqs__template--closed">
          <div class="faqs__template--header flex">
            <h3 class="faqs__template--question">
              Why web development?
            </h3>
            <i class="uil uil-angle-down faqs__template--arrow"></i>
          </div>
          <div class="faqs__template--answer">
            <p>
              When I started working as an analyst, I faced with different issues. One of them was that I didn't have the basics of programming, so I decided to start with HTML and CSS, of course then I moved quickly to JavaScript and I'm still improving my knowledge.
            </p>
            <p>
              I realized that coding knowledge is very important to understand how a lot of ITs companies work, how to <a class="word__bold first__color--word">face small and big issues</a> (if you code, you always are going to have issues). This really helped me to have a bigger picture of companies and personal life.
            </p>
            <p>
              I really think that today we have so many tools to start with you own company or to study a career by your own. Just imagine, <a class="word__bold first__color--word">data + coding knowledge</a>, that's a big and powerful gun 🔥. 
            </p>
          </div>
        </div>

        <div class="faqs__template faqs__template--closed">
          <div class="faqs__template--header flex">
            <h3 class="faqs__template--question">
              Why did I decide to create a website?
            </h3>
            <i class="uil uil-angle-down faqs__template--arrow"></i>
          </div>
          <div class="faqs__template--answer">
            <p>
              First of all, my <a class="word__bold first__color--word">passion for coding and technology</a>. I will say it again, did u ask yourself how much we can do with data and coding knowledge?
            </p>
            <p>
              Imagine all you can do if you understand how to code in different languages, how a database works and what you can do with all of that. How a system is designed, how to improve it, how to find solutions to issues, etc.</p>
            <p>
              I think that websites give you the opportunity to let others know what you think about a subject, which are your interests, let it introudce you to others, and show them <a class="word__bold first__color--word">how much you can do with your skills</a>.
            </p>
          </div>
        </div>

        <div class="faqs__template faqs__template--closed">
          <div class="faqs__template--header flex">
            <h3 class="faqs__template--question">
              How was my job journey?
            </h3>
            <i class="uil uil-angle-down faqs__template--arrow"></i>
          </div>
          <div class="faqs__template--answer">
            <p>This is a big question to answer it in a small section. I had the opportunity to work and live outside my country, then I had the opportunity to start and see how my carrer grew up working with a big company.</p>
            <p>
              Then I decided to start my own works as a freelancer and finally I work hand to hand with a start up company and also with different clients around the world.
            </p>
            <p>
              One person used to tell me, always look back and see how much you've made and the impact of that, and I'm really proud about my journey. It's just a short journey, so many things are going to come with a bigger experience and different people.
            </p>
          </div>
        </div>

        <div class="faqs__template faqs__template--closed">
          <div class="faqs__template--header flex">
            <h3 class="faqs__template--question">
              Are soft skills actually really necessary?
            </h3>
            <i class="uil uil-angle-down faqs__template--arrow"></i>
          </div>
          <div class="faqs__template--answer">
            <p>
              This question... This is not gonna be extense, because it's easy. 
            </p>
            <p>
              <a class="word__bold first__color--word">Of course it's important</a>! Something I understood is that whenever you go, people will exist (unless we have a zombie attack or something extremelly out of this nature, well, we also can have some kind of unnecesary war, anyway...). You will need to work close with people.
            </p>
            <p>
              Having said that, at the end of the journey, of course that your skills and impresions are really important, but the relationships between people is going to be a <a class="word__bold first__color--word">key factor</a>. There is where the soft skills will help you so much.
            </p>
          </div>
        </div>

        <div class="faqs__template faqs__template--closed">
          <div class="faqs__template--header flex">
            <h3 class="faqs__template--question">
              What do I think about a descentralized world?
            </h3>
            <i class="uil uil-angle-down faqs__template--arrow"></i>
          </div>
          <div class="faqs__template--answer">
            <p>
              I love the idea of a descentralized world. I don't think that we are close to that, but the idea of having a financial system not owned by a group of people, and where you can decide who to send actives without any externaly party control of that, it's just <a class="word__bold first__color--word">an amazing idea</a>. 
            </p>
            <p>
              Also, imagine the idea of having a house and not a physical key or documents/papers that approve your ownership of the house. Well, NFTs could have a solution. In a virtual wallet you could have the documents and keys of your house and you could even sell that house to another person... 
            </p>
          </div>
        </div>

        <div class="faqs__template faqs__template--closed">
          <div class="faqs__template--header flex">
            <h3 class="faqs__template--question">
              Am I working on something important?
            </h3>
            <i class="uil uil-angle-down faqs__template--arrow"></i>
          </div>
          <div class="faqs__template--answer">
            <p>
              I'm a person who always is thinking on how to improve my knowledge or skills about something, so I'm always working on a project.
            </p>
            <p>
              Nevertheless, I have different projects where I will be working on. One of them is a website shop for a candles business, then a website (like a portfolio) for a designer, and then my really big focus...
            </p>
            <p>
              I'm working on the creation of my own company. Yep, I will create a company. It's a matter of ⏳.
            </p>
        </div>

        <div class="faqs__template faqs__template--closed">
          <div class="faqs__template--header flex">
            <h3 class="faqs__template--question">
              Why would you like to join my community?
            </h3>
            <i class="uil uil-angle-down faqs__template--arrow"></i>
          </div>
          <div class="faqs__template--answer">
            <p>
              I swear I'm not going to spam your inbox (you will be able to unsuscribe your email address if you wish).
            </p>
            <p>
              The emails I will be sending are about new sections on the website, next releases, new projects I will be working on, new blogs, etc.. 
            </p>
            <p>
              It just a way to be connected and for you to know in what I am working on. 
            </p>
        </div>

      </div>
    </div>
  </section>