<section class="footer" id="footer">
    <div class="footer__form grid">

        <div class="footer__form--left grid">
            <div class="footer__user-count flex">
                <span class="footer__user--number grid"><%-data%></span>
                <p><a class="first__color--word word__bold footer__user--text">datalexperts</a> joined the community!</p>
            </div>
            <div class="form">
                <form class="grid" method="POST" action='/register'>
                    <input type="text" class="form__input" name="userSubsName" placeholder="Insert your name">
                    <input type="email" class="form__input" name="userSubsEmail" placeholder="Insert your email address">
                    <button type="submit" class="btn form__btn">Join</button>
                </form>
                <% if(typeof alert != 'undefined') { %>
                    <% alert.forEach( (error) => { %>
                        <p class="text__error-msg"> <i class="uil uil-times"></i><%= error.msg %></p>
                    <% }) %>
                <% } %>
            </div>
            <div class="footer__community">
                <p>* The join to the community works as a newsletter to be aware of next releases on the web or about new projects I'll be working on, among other things.</p>
                <p>FYI: I hate companies that spam my inbox, so I will not do it.</p>
            </div>
        </div>

        <div class="footer__form--right">
            <div class="footer__right--container">
                <div class="nav__container--contact grid">
                    <div class="footer__release">
                        <div class="footer__release--header flex">
                          <h4 class="footer__release--title">Next web releases</h4>
                        </div>
            
                        <ul class="footer__release--content">
                          <li class="footer__release--coming">
                            A blog page
                          </li>
                          <li class="footer__release--coming">
                            A dynamic CV page
                          </li>
                          <li class="footer__release--coming">
                            A games page 
                          </li>
                          <li class="footer__release--coming">
                            Websites improvements
                          </li>
                          <li class="footer__release--coming">
                            Spanish website
                          </li>
                          <li class="footer__release--coming">
                            Light mode
                          </li>
                        </ul>
                        <span class="footer__release--update">Last Web Update: 2022-12-12</span>
                    </div>
                    <div class="footer__qr--code">
 
                        <img class="footer__qr--img" src="/images/qrcode.png" alt="QR Code for scanning with the phone and be redirected to Alexander Tisko mobile webiste." srcset="">
                    </div>
                    <div class="nav__contact--links grid">
                      <ul class="nav__contact--social grid flex ">
                        <li class="nav__contact--item">
                          <a target="_blank" href="https://wa.me/qr/U4H6WUF2HEU4I1" class="nav__contact--link"><i
                              class="uil uil-whatsapp nav__contact--icon"></i></a>
                        </li>
                        <li class="nav__contact--item">
                          <a target="_blank" href="https://t.me/Alextisko" class="nav__contact--link"><i
                              class="uil uil-telegram-alt nav__contact--icon"></i></a>
                        </li>
                        <li class="nav__contact--item">
                          <a target="_blank" href="https://www.linkedin.com/in/alexandertisko/" class="nav__contact--link"><i
                              class="uil uil-linkedin-alt nav__contact--icon"></i></a>
                        </li>
                        <li class="nav__contact--item">
                          <a target="_blank" href="https://twitter.com/AlexanderTisko" class="nav__contact--link"><i
                              class="uil uil-twitter-alt nav__contact--icon"></i></a>
                        </li>
                        <li class="nav__contact--item">
                          <a target="_blank" href="https://github.com/alexandernt" class="nav__contact--link"><i
                              class="uil uil-github-alt nav__contact--icon"></i></a>
                        </li>
                        <li class="nav__contact--item">
                          <a target="_blank" href="mailto:alexanderntisko@gmail.com" class="nav__contact--link"><i
                              class="uil uil-envelope-alt nav__contact--icon"></i></a>
                        </li>
                      </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
    
    
  </section>