<!-- <section class="footer" id="footer">
    <div class="footer-container">
        <p>This website was made by me using the following tools:</p>
        <p>HTML, CSS, EJS, NodeJS, JavaScript</p>
    </div>
</section> -->