<link rel='stylesheet' href='/css/style.css' />
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Alexander Tisko</title>
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
<!-- <link rel="icon" sizes="100x100" href="/images/alexx.svg"> -->
<meta name="description" content="I'm Alexander Tisko; Senior Data Analyst and Web Developer Based in Argentina and Working for All the World." > 
<meta name="keywords" content="Alexander Tisko, Tisko, Alex Tisko, Data Analyst, Business Inteligence, Freelancer, Web Design, Data Science, Argentina, Programador Argentina, Data Analyst Argentina"/>
<meta name="robots" content="index,follow,archive,translate"/>