<header class="header" id="header">

    <figure class="side-avatar">
      <img src="/images/alexx.svg" alt="Avatar" loading="lazy" width="150" height="150">
    </figure>

    <div class="site-meta">
        <h3 class="site-name">
            Alexander Tisko
        </h3>
        <h2 class="site-description">
            Senior Data Analyst
        </p>
    </div>

  </header>

<ul class="social">
    <li class="social-item">
        <a target="_blank" href="https://wa.me/qr/U4H6WUF2HEU4I1" class="social-url">
            <i class="uil uil-whatsapp social-icon"></i>
        </a>
    </li>

    <li class="social-item">
        <a target="_blank" href="https://t.me/Alextisko" class="social-url">
            <i class="uil uil-telegram-alt social-icon"></i>
        </a>
    </li>
    <li class="social-item">
        <a target="_blank" href="https://www.linkedin.com/in/alexandertisko/" class="social-url">
            <i class="uil uil-linkedin-alt social-icon"></i>
        </a>
    </li>
    <li class="social-item">
    <a target="_blank" href="https://github.com/alexandernt" class="social-url"><i
        class="uil uil-github-alt social-icon"></i></a>
    </li>
    <li class="social-item">
    <a target="_blank" href="mailto:alexanderntisko@gmail.com" class="social-url"><i
        class="uil uil-envelope-alt social-icon"></i></a>
    </li>
</ul>