<section class="nav-menu">
    <header class="header" id="header">

        <div class="header-avatar">
            <figure class="header-avatar-circle">
                <img class="header-avatar-pic" src="/images/alexx.svg" alt="Avatar" loading="lazy">
              </figure>
        </div>
        
    
        <div class="header-meta">
            <div class="header-title-container">
                <h1 class="center-title">
                    Alexander Tisko
                </h1>
            </div>
            <div class="header-description">
                <p class="header-title">Sr. Data Analyst</p>
                <p class="header-small-description">Solving real business problems</p>
            </div>
            
        </div>
        
        <div class="socials" >
            <ul class="social-list">
                <li class="social-item">
                    <a target="_blank" href="https://wa.me/qr/U4H6WUF2HEU4I1" class="social-url">
                        <i class="uil uil-whatsapp social-icon"></i>
                    </a>
                </li>
            
                <li class="social-item">
                    <a target="_blank" href="https://t.me/Alextisko" class="social-url">
                        <i class="uil uil-telegram-alt social-icon"></i>
                    </a>
                </li>
                <li class="social-item">
                    <a target="_blank" href="https://www.linkedin.com/in/alexandertisko/" class="social-url">
                        <i class="uil uil-linkedin-alt social-icon"></i>
                    </a>
                </li>
                <li class="social-item">
                <a target="_blank" href="https://github.com/alexandernt" class="social-url"><i
                    class="uil uil-github-alt social-icon"></i></a>
                </li>
                <li class="social-item">
                <a target="_blank" href="mailto:alexanderntisko@gmail.com" class="social-url"><i
                    class="uil uil-envelope-alt social-icon"></i></a>
                </li>
            </ul>
        </div>
        
    </header>
    
</section>
