<nav class="nav relative" id="nav">

    <div class="nav__header fixed">

      <div class="nav__header--box grid">

        <div class="nav__header--left flex">
          <div class="nav__header--logo grid">
            <img class="nav__header--img" src="
            /images/alexx.svg" alt="" srcset="">
          </div>
          <div class="nav__header--text">
            <span><a class="crossed__out--word ">Alexander <br> Tisko</a></span>
          </div>
        </div>

        <div class="nav__icon relative">
          <div class="box1"></div>
          <div class="box2"></div>
          <div class="box3"></div>
        </div>

      </div>

    </div>

    <div class="nav__container fixed">

      <div class="nav__container--links grid">
        <ul class="nav__list grid">
          <li class="nav__link">
            <a class="nav__items" href="#header">
              Home
            </a>
          </li>
          <li class="nav__link">
            <a class="nav__items" href="#about">
              About me
            </a>
          </li>
          <li class="nav__link">
            <a class="nav__items" href="#skills">
              Skills
            </a>
          </li>
          <li class="nav__link">
            <a class="nav__items" href="#experience">
              Experience
            </a>
          </li>
          <li class="nav__link">
            <a class="nav__items" href="#faqs">
              FAQs
            </a>
          </li>
          <li class="nav__link">
            <a class="nav__items" href="/contact">
              Contact
            </a>
          </li>
        </ul>
      </div>

      <div class="nav__container--right">

        <div class="nav__release">
          <div class="nav__release--header flex">
            <h4 class="nav__release--title">
              Next web releases
            </h4>
            <i class="uil uil-angle-down nav__release--arrow"></i>
          </div>

          <ul class="nav__release--content">
            <li class="nav__release--coming">
              A blog page
            </li>
            <li class="nav__release--coming">
              A dynamic CV page
            </li>
            <li class="nav__release--coming">
              A games page 
            </li>
            <li class="nav__release--coming">
              Websites improvements
            </li>
            <li class="nav__release--coming">
              Spanish website
            </li>
            <li class="nav__release--coming">
              Light mode
            </li>
          </ul>
          <span class="nav__release--update">Last Web Update: 2022-12-12</span>
        </div>

        <div class="nav__container--cv">
          <a target="blank" class="btn cv__content--btn"
            href="https://drive.google.com/file/d/13Yih3HX1ALaaBzih-51LGExRKh_RnI_P/view?usp=sharing"> Download CV </a>
        </div>

        <div class="nav__qr--code">
          <h4>
            Scan this QR code with your phone for a <a class="first__color--word">better user experience!</a>
          </h4>
          <img class="nav__qr--img" src="/images/qrcode.png" alt="QR Code for scanning with the phone and be redirected to Alexander Tisko mobile webiste." srcset="">
        </div>

        <div class="nav__container--contact grid">
          <div class="nav__contact--links grid">
            <ul class="nav__contact--social grid flex ">
              <li class="nav__contact--item">
                <a target="_blank" href="https://wa.me/qr/U4H6WUF2HEU4I1" class="nav__contact--link"><i
                    class="uil uil-whatsapp nav__contact--icon"></i></a>
              </li>
              <li class="nav__contact--item">
                <a target="_blank" href="https://t.me/Alextisko" class="nav__contact--link"><i
                    class="uil uil-telegram-alt nav__contact--icon"></i></a>
              </li>
              <li class="nav__contact--item">
                <a target="_blank" href="https://www.linkedin.com/in/alexandertisko/" class="nav__contact--link"><i
                    class="uil uil-linkedin-alt nav__contact--icon"></i></a>
              </li>
              <li class="nav__contact--item">
                <a target="_blank" href="https://github.com/alexandernt" class="nav__contact--link"><i
                    class="uil uil-github-alt nav__contact--icon"></i></a>
              </li>
              <li class="nav__contact--item">
                <a target="_blank" href="mailto:alexanderntisko@gmail.com" class="nav__contact--link"><i
                    class="uil uil-envelope-alt nav__contact--icon"></i></a>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>

</nav>