<div class="nav-container">
  <nav class="nav grid" id="nav">
    <ul class="nav grid">
      <li class="nav-item grid">
        <!-- <img height="20" width="20" class="nav-icon" src="/images/home.svg" alt=""> -->
        <a class="nav-ref" href="#header">Home </a>
      </li>
      <li class="nav-item grid">
        <!-- <img height="20" width="20" class="nav-icon" src="/images/blog.svg" alt=""> -->
        <a class="nav-ref" href="#about">Blog</a>
      </li>

      <li class="nav-item grid">
        <!-- <img height="20" width="20" class="nav-icon" src="/images/resume.svg" alt=""> -->
        <a class="nav-ref" href="#contact">Resume </a>
      </li>
    </ul>

  </nav>
</div>