<div class="nav-container relative">
  <nav class="nav grid" id="nav">
    <ul class="nav grid">
      <li class="nav-item grid">
        <i class="uil uil-envelope-alt nav-icon"></i>
        <a class="nav-ref" href="#header">Home </a>
      </li>
      <li class="nav-item grid">
        <i class="uil uil-envelope-alt nav-icon"> </i>
        <a class="nav-ref" href="#about">About Me</a>
      </li>
      <li class="nav-item grid">
        <i class="uil uil-envelope-alt nav-icon"> </i>
        <a class="nav-ref" href="#skills">Skills </a>
      </li>
      <li class="nav-item grid">
        <i class="uil uil-envelope-alt nav-icon"> </i>
        <a class="nav-ref" href="#experience">Experience </a>
      </li>
      <li class="nav-item grid">
        <i class="uil uil-envelope-alt nav-icon"></i>
        <a class="nav-ref" href="#faqs">Portfolio</a>
      </li>
      <li class="nav-item grid">
        <i class="uil uil-envelope-alt nav-icon"></i>
        <a class="nav-ref" href="#contact">Resume </a>
      </li>
      <li class="nav-item grid">
        <i class="uil uil-envelope-alt nav-icon"></i>
        <a class="nav-ref" href="#contact">Articles </a>
      </li>
    </ul>

  </nav>
</div>