<section class="right-container">
    <img  class="center-welcome-pic" src="/images/data-home.svg" alt="">  
    <h3 class="right-container-titles">Interests</h3>
    <div class="interests">
            <span class="interest-items">#data-analysis</span>
            <span class="interest-items">#data-engineering</span>
            <span class="interest-items">#data-visualization</span>
            <span class="interest-items">#data-modeling</span>
            <span class="interest-items">#data-monitoring</span>
            <span class="interest-items">#data-ingestion</span>
            <span class="interest-items">#data-management</span>
            <span class="interest-items">#data-governance</span>
            <span class="interest-items">#data-automation</span>
            <span class="interest-items">#story-telling</span>
            <span class="interest-items">#mentoring</span>
            <span class="interest-items">#root-cause-analysis</span>
            <span class="interest-items">#a/b-testing</span>
            <span class="interest-items">#business-inteligence</span>
            <span class="interest-items">#business-development</span>
    </div>

    <h3 class="right-container-titles">Tools</h3>
    <div class="interests">
        <span class="interest-items">SQL</span>
        <span class="interest-items">Looker Studio</span>
        <span class="interest-items">LookML</span>
        <span class="interest-items">Dataform</span>
        <span class="interest-items">Tableau</span>
        <span class="interest-items">PowerBI</span>
        <span class="interest-items">Python</span>
        <span class="interest-items">Dataplex</span>
        <span class="interest-items">R</span>
        <span class="interest-items">Airflow</span>
        <span class="interest-items">Kubernetes</span>
        <span class="interest-items">JavaScript</span>
        <span class="interest-items">HTML</span>
        <span class="interest-items">CSS</span>
        <span class="interest-items">EJS</span>
        <span class="interest-items">NodeJS</span>
        <span class="interest-items">MongoDB</span>
    </div>

    <h3 class="right-container-titles">Platforms</h3>
    <div class="interests">
        <span class="interest-items">GCP</span>
        <span class="interest-items">AWS</span>
        <span class="interest-items">GitHub</span>
        <span class="interest-items">Postgress Man</span>
        <span class="interest-items">Fivetran</span>
        <span class="interest-items">Zoho</span>
        <span class="interest-items">Salesforce</span>
        <span class="interest-items">Dialpad</span>
        <span class="interest-items">Atlassian</span>
        <span class="interest-items">Office</span>
        <span class="interest-items">Windows</span>
    </div>

    <h3 class="right-container-titles">Hobbies</h3>
    <div class="interests">
        <span class="interest-items">Cyclism</span>
        <span class="interest-items">Trekking</span>
        <span class="interest-items">Yoga</span>
        <span class="interest-items">Meditation</span>
        <span class="interest-items">Dogs</span>
        <span class="interest-items">Beer</span>
        <span class="interest-items">Friends</span>
        <span class="interest-items">Reading</span>
        <span class="interest-items">Politics</span>
        <span class="interest-items">Coding</span>
        <span class="interest-items">Constantly Learning</span>
    </div>

    <h3 class="right-container-titles">Resume</h3>
    <div class="resume">
        <p>
            If you are interested to know me a little bit better feel free to contact me. I also invite you to 
            <a class="crossed__out--word ">check my resume</a>.
            
        </p>
        <p>Feel free to download it and keep it in your database 😉</p>
        
        <div class="resume-btn-container">
            <a target="blank" class="btn resume-btn" href="https://drive.google.com/file/d/1J0ELt9qCwQdIhrtcH-rZpj0KsdVjS8q9/view?usp=sharing"> 
                Download
            </a>
        </div>
    </div>

</section>