<section>
    <div class="right-container">
        <h3 class="right-container-titles">Interests</h3>
        <div class="interests">
                <span class="interest-items">#data-analysis</span>
                <span class="interest-items">#data-engineering</span>
                <span class="interest-items">#data-visualization</span>
                <span class="interest-items">#data-modeling</span>
                <span class="interest-items">#data-ingestion</span>
                <span class="interest-items">#data-management</span>
                <span class="interest-items">#data-governance</span>

        </div>

        <h3 class="right-container-titles">Tools</h3>
        <div class="interests">
            <span class="interest-items">Looker Studio</span>
            <span class="interest-items">LookML</span>
            <span class="interest-items">Dataform</span>
            <span class="interest-items">Tableau</span>
            <span class="interest-items">PowerBI</span>
            <span class="interest-items">Python</span>
            <span class="interest-items">Dataplex</span>
            <span class="interest-items">R</span>
            <span class="interest-items">Airflow</span>
            <span class="interest-items">Kubernetes</span>
            <span class="interest-items">JavaScript</span>
        </div>

        <h3 class="right-container-titles">Platforms</h3>
        <div class="interests">
            <span class="interest-items">GCP</span>
            <span class="interest-items">AWS</span>
            <span class="interest-items">GitHub</span>
            <span class="interest-items">Postgress Man</span>
            <span class="interest-items">Fivetran</span>
            <span class="interest-items">Zoho</span>
            <span class="interest-items">Salesforce</span>
            <span class="interest-items">Dialpad</span>
            <span class="interest-items">Atlassian</span>
            <span class="interest-items">Office</span>
            <span class="interest-items">Windows</span>
        </div>

        <h3 class="right-container-titles">Experience</h3>
        <div class="experience-container">
            <div class="experience1">
                <div class="experience-title">
                    <h4>Data Analyst</h4>
                    <p>2023 - Present</p>
                </div>
                <div class="experience-tasks">
                    <ul>
                        <li>
                            asdasd
                        </li>
                        <li>
                            asdasd
                        </li>
                        <li>
                            asdasd
                        </li>
                        <li>
                            asdasd
                        </li>
                    </ul>
                </div>
            </div>
            <div class="experience2">
                <div class="experience-title">
                    <h4>Operation Analyst</h4>
                    <p>2023 - Present</p>
                   
                </div>
                <div class="experience-tasks">
                    <ul>
                        <li>
                            asdasd
                        </li>
                        <li>
                            asdasd
                        </li>
                        <li>
                            asdasd
                        </li>
                        <li>
                            asdasd
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="experience3">
                <div class="experience-title">
                    <h4>Product Analyst</h4>
                    <p>2023 - Present</p>
                </div>
                <div class="experience-tasks">
                    <ul>
                        <li>
                            asdasd
                        </li>
                        <li>
                            asdasd
                        </li>
                        <li>
                            asdasd
                        </li>
                        <li>
                            asdasd
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="experience4">
                <div class="experience-title">
                    <h4>Reserach Analyst</h4>
                    <p>2023 - Present</p>
                </div>
                <div class="experience-tasks">
                    <ul>
                        <li>
                            asdasd
                        </li>
                        <li>
                            asdasd
                        </li>
                        <li>
                            asdasd
                        </li>
                        <li>
                            asdasd
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <h3 class="right-container-titles">Articles</h3>
    </div>
</section>




<!-- <p>asdasdasdasdasdasdasasdasdasdasdasdasdasdasdasd</p> -->