<section>
    <div class="right-container">
        <h3>Interests</h3>
        <div class="interests">
            <div class="interes-left-block">
                <span class="interest-items">Data Analysis</span>
                <span class="interest-items">Data Pipeline</span>
                <span class="interest-items">Data Visualization</span>
            </div>

            <div class="interes-right-block">
                <span class="interest-items">Data Modeling</span>
                <span class="interest-items">Data Ingestion</span>
                <span class="interest-items">Data Ingestion</span>
            </div>
        </div>
    </div>
</section>




<!-- <p>asdasdasdasdasdasdasasdasdasdasdasdasdasdasdasd</p> -->