<h1 class="center-title">Welcome!!!! 👋👋  </h1>
<div class="center-welcome-container"> 
    <p class="center-description">
        With 6 years of experience as an analyst,
         backed by a data engineering foundation, 
         <a class="crossed__out--word ">my expertise</a> includes:
        
    </p>
    <p class="center-description">
        <ul class="center-description-list">
            <li>
                Ingesting and transforming data to drive business intelligence.
            </li>
            <li>
                Building optimized datasets that improve efficiency and performance.
            </li>
            <li>
                Monitoring data and automating workflows to streamline operations,
                    save time, reduce costs, and improve efficiency.
            </li>
            <li>
                Cultivating meaningful connections with stakeholders to align data insights with business goals.
            </li>
            <li>
                Delivering actionable insights that empower 
                organizations to make informed, data-driven decisions.
            </li>
        </ul>
    </p>
</div>