
<div class="center-welcome-container"> 
    <h1 class="center-title">
        Welcome:)
    </h1>
    <p class="center-description">
        I am a professional with <a class="crossed__out--word ">six years</a> of experience as an analyst, leveraging data to solve complex business challengues. My expertise includes:
        
    </p>
    <div class="center-description">
        <div class="center-description-list">
            <div>
                <p>Ingesting and transforming data to drive business intelligence.</p>
            </div>
            <div>
                <p>Building optimized datasets improving efficiency and performance.</p>
            </div>
            <div>
                <p> Monitoring data and automating workflows to streamline operations.</p>
            </div>
            <div>
                <p> Cultivating meaningful connections with stakeholders to align data insights with business goals.</p>
            </div>
            <div>
                <p> Delivering actionable insights that empower 
                    organizations to make informed, data-driven decisions.</p>
            </div>
                
          
                
           
        </ul>
    </div>
</div>
