<img  class="center-welcome-pic" src="/images/error.svg" alt=""> 

<p>NOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO THERE WAS AN ERRORRRR!!!!!!!</p> 

<h1><%= message %></h1>

<h2><%= error.status %></h2>

<pre><%= error.stack %></pre>
