<!DOCTYPE html>

<html lang="en">

  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  </head>

  <body class="body">

    <header class="header" id="header">

     <nav class="nav relative" id="nav">

        <div class="nav__header grid fixed">

          <div class="nav__header--left flex">

            <div class="nav__header--logo grid">
              <img class="nav__header--img" src="http://simpleicon.com/wp-content/uploads/rocket.svg" alt="" srcset="">
            </div>

            <div class="nav__header--text">
              <span><a class="crossed__out--word ">Alexander <br> Tisko</a></span>
            </div>
           
          </div>

          <div class="nav__icon relative">
             <div class="box1"></div>
              <div class="box2"></div>
              <div class="box3"></div>
          </div>
 
          </div>
        </div>


        <div class="nav__container absolute">
          <div class="nav__container--links">
            <ul class="nav__list grid">
                <li class="nav__link">
                    <a class="nav__items" href="#home">Home</a>
                </li>
                <li class="nav__link">
                    <a  class="nav__items"  href="#experience">Experience</a>
                </li>
                <li  class="nav__link">
                    <a class="nav__items"  href="#skills">Skills</a>
                </li>
            </ul>
          </div>  
        </div>

     </nav>
     
    </header>

    <main class="main" id="main">
      <section class="home" id="home">
        <div class="home__content grid">
         
          <div class="home__left">
            <div class="home__left--title">
              <h1 class="home__left--alex">Let's <a class="yellow__word">create</a> memorable work together</h1>
            </div>
            <div class="home__left--text">
              <p>If you are here, I believe that it's not necessary to introduce myself. Although, something important <a class="word__bold yellow__word">you need to know</a>  is that if you spend at least 45 seconds reading my website, you will know me so much better and hopefully could impress you and <a class="crossed__out--word ">work together</a>!
            </div>
           
          </div>
          <div class="home__right">
            <img class="home__right--img" src="/images/data-home.svg">
          </div>

        </div>

      </section>

      <section class="about relative" id="about">
        <h1 class="section__title"> <a class="crossed__out--word ">About me</a></h1>
        <div class="about__container">
        
          <div class="about__content flex">
        
            <div class="about__content--template">
        
              <div class="about__content--intro">

                <div class="about__content--title flex">
                  <h1>Web Developer</h1>
                </div>
                
                <p class="about__content--intro-text">I've worked with small / medium business, personal clients portfolios, made a lot of projects and code a lot for fun.</p>
                <img src="/images/developer.svg" alt="" srcset="">
              </div>
        
            </div>

            <div class="about__content--template">
        
              <div class="about__content--intro">
                <div class="about__content--title flex">
                  <h1>Data Analyst</h1>
                </div>
                <p class="about__content--intro-text">I'm working as a Senior Data Analyst for Fluid Truck, and helped lot of clients to understand the powerful of data to make better driven data decisions.</p>
                <img src="/images/data.svg" alt="" srcset="">
              </div>
        
            </div>


            <div class="about__content--template">
        
              <div class="about__content--intro">
                <div class="about__content--title flex">
                  <h1>My Pros</h1>
                </div>
                <p class="about__content--intro-text">I'm working as a Senior Data Analyst for Fluid Truck, and helped lot of clients to understand the powerful of data to make better driven data decisions.</p>
                <img src="/images/pros.svg" alt="" srcset="">
              </div>
        
            </div>

            <div class="about__content--template">
        
              <div class="about__content--intro">
                <h1>My Cons</h1>
                <span>asdasd</span>
                <img src="/images/sad.svg" alt="" srcset="">
              </div>
        
            </div>
        
          </div>
        
        </div>
        
    </section>

    <section class="cv" id="cv">
    
      <div class="cv">
        <h1 class="section__title"> <a class="crossed__out--word ">Check my CV</a></h1>
      </div>
      <div class="cv__content grid">
        <img class="cv__content--img flex" src="/images/cv.svg" alt="">
        <a target="blank" class="btn"
          href="https://drive.google.com/file/d/11eo-Scc_4ZEfR9jLQhSHRe5t5Nzr6TF-/view?usp=sharing">Download CV</a>
      </div>
    </section>
    </main>
  </body>
  <script src="/javascripts/index.js"></script>
</html>
