<!DOCTYPE html>

<html lang="en">

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alexander Tisko</title>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
</head>

<body class="body">
  <header class="header" id="header">
    <nav class="nav relative" id="nav">

      <div class="nav__header fixed">

        <div class="nav__header--box grid">
          <div class="nav__header--left flex">

            <div class="nav__header--logo grid">
              <img class="nav__header--img" src="
              /images/alexx.svg" alt="" srcset="">
            </div>

            <div class="nav__header--text">
              <span><a class="crossed__out--word ">Alexander <br> Tisko</a></span>
            </div>

          </div>

          <div class="nav__icon relative">
            <div class="box1"></div>
            <div class="box2"></div>
            <div class="box3"></div>
          </div>
        </div>

      </div>


      <div class="nav__container fixed relative">
        <div class="nav__container--links grid">
          <ul class="nav__list grid">
            <li class="nav__link">
              <a class="nav__items" href="#home">
                Home
              </a>
            </li>
            <li class="nav__link">
              <a class="nav__items" href="#about">
                About Me
              </a>
            </li>
            <li class="nav__link">
              <a class="nav__items" href="#skills">
                Skills
              </a>
            </li>
            <li class="nav__link">
              <a class="nav__items" href="#experience">
                Experience
              </a>
            </li>
            <li class="nav__link">
              <a class="nav__items" href="#faqs">
                FAQs
              </a>
            </li>
          </ul>
        </div>

        <div class="nav__container--right">

          <div class="nav__release">
            <div class="nav__release--header flex">
              <h4 class="nav__release--title">
                Next Web Releases
              </h4>
              <i class="uil uil-angle-down nav__release--arrow"></i>
            </div>

            <ul class="nav__release--content">
              <li class="nav__release--coming">
                Personal Blog Section
              </li>
              <li class="nav__release--coming">
                Dynamic CV on the Web
              </li>
              <li class="nav__release--coming">
                Online Games Section
              </li>
              <li class="nav__release--coming">
                One "datalexpert" Editorial per Week
              </li>
              <li class="nav__release--coming">
                Websites Improvements
              </li>
              <li class="nav__release--coming">
                Spanish Website
              </li>
              <li class="nav__release--coming">
                Light/Dark mode
              </li>
              <span class="nav__release--update">Last Web Update: 2022-11-13</span>
            </ul>
          </div>

          <div class="nav__container--contact grid">
            <div class="nav__contact--links grid">
              <ul class="nav__contact--social grid flex ">
                <li class="nav__contact--item">
                  <a target="_blank" href="https://wa.me/qr/U4H6WUF2HEU4I1" class="nav__contact--link"><i
                      class="uil uil-whatsapp nav__contact--icon"></i></a>
                </li>
                <li class="nav__contact--item">
                  <a target="_blank" href="https://t.me/Alextisko" class="nav__contact--link"><i
                      class="uil uil-telegram-alt nav__contact--icon"></i></a>
                </li>
                <li class="nav__contact--item">
                  <a target="_blank" href="https://www.linkedin.com/in/alexandertisko/" class="nav__contact--link"><i
                      class="uil uil-linkedin-alt nav__contact--icon"></i></a>
                </li>
                <li class="nav__contact--item">
                  <a target="_blank" href="https://twitter.com/AlexanderTisko" class="nav__contact--link"><i
                      class="uil uil-twitter-alt nav__contact--icon"></i></a>
                </li>
                <li class="nav__contact--item">
                  <a target="_blank" href="https://github.com/alexandernt" class="nav__contact--link"><i
                      class="uil uil-github-alt nav__contact--icon"></i></a>
                </li>
                <li class="nav__contact--item">
                  <a target="_blank" href="mailto:alexanderntisko@gmail.com" class="nav__contact--link"><i
                      class="uil uil-envelope-alt nav__contact--icon"></i></a>
                </li>
              </ul>
            </div>
          </div>

        </div>


      </div>

    </nav>
  </header>

  <main class="main" id="main">
    <section class="home" id="home">
      <div class="home__content grid">
        <div class="home__left">
          <div class="home__left--title">
            <h1 class="home__left--alex">Let's <a class="first__color--word">create</a> memorable work together</h1>
          </div>
          <div class="home__left--text">
            <p class="home__left--p">If you are here, I believe that it's not necessary to introduce myself. Although,
              something important <a class="word__bold first__color--word">you need to know</a> is that if you spend at
              least
              45 seconds reading my
              website, you will know me so much better and hopefully could impress you and <a
                class="crossed__out--word ">work together</a>!
          </div>
        </div>
        <div class="home__right">
          <img class="home__right--img" src="/images/data-home.svg">
        </div>
      </div>
    </section>

    <section class="about relative" id="about">
      <h1 class="section__title"> <a class="crossed__out--word ">About me</a></h1>
      <div class="about__container">
        <div class="about__content flex">

          <div class="about__content--template relative">
            <div class="about__content--intro grid">
              <h1 class="about__content--title">Data Analyst</h1>
              <p class="about__content--intro-text">
                I'm working as a Senior Data Analyst for Fluid Truck, and I helped lot
                of clients as a freelancer, so they can understand how powerful is their data and make better <a
                  class="word__bold first__color--word">data driven decisions</a>.
              </p>
              <img class="about__content--img absolute" src="/images/data.svg" alt="" srcset="">
            </div>
          </div>


          <div class="about__content--template relative">
            <div class="about__content--intro grid">
              <h1 class="about__content--title">Web Developer</h1>
              <p class="about__content--intro-text">I've worked with small and medium companies, and with individual
                clients
                (portfolios && start ups). I started coding just for fun, and now it became one of the <a
                  class="word__bold first__color--word">most important things I learned</a>.</p>
              <img class="about__content--img absolute" src="/images/developer.svg" alt="" srcset="">
            </div>
          </div>


          <div class="about__content--template relative">
            <div class="about__content--intro grid">
              <h1 class="about__content--title">Operation Analyst</h1>
              <p class="about__content--intro-text">I worked on / with small, medium and big companies. I understand how
                they work and where are the strengths or weakness. <a class="word__bold first__color--word">Agile
                  methodologies</a> are my ally for this.</p>
              <img class="about__content--img absolute" src="/images/operation.svg" alt="" srcset="">
            </div>
          </div>

          <div class="about__content--template relative">
            <div class="about__content--intro grid">
              <h1 class="about__content--title">Problem Solving</h1>
              <p class="about__content--intro-text">I became a <a class="word__bold first__color--word">problem
                  solving</a> person. I love to work on different issues and find the best solutions. I used to say that
                analysts are detectiives and crimes are the issues. Would u like to resolve the case with me?
              </p>
              <img class="about__content--img absolute" src="/images/problem.svg" alt="" srcset="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="skills section relative" id="skills">
      <h1 class="section__title skills__section--title"> <a class="crossed__out--word ">Skills</a></h1>
      <div class="skills__grid grid">
        <div class="skills__content skills__close">
          <div class="skills__header open">
            <i class="uil uil-chart-line skills__icon"></i>
            <div>
              <h1 class="skills__title">Data Analysis</h1>
              <span class="skills__subtitle">+3 years</span>
            </div>
            <i class="uil uil-angle-double-down skills__arrow"></i>
          </div>
          <div class="skills__list grid">
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Spreadsheets</h3>
                <span class="skills__number">100%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__100"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">SQL</h3>
                <span class="skills__number">95%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__95"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Looker / LookML</h3>
                <span class="skills__number">90%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__90"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">BigQuery</h3>
                <span class="skills__number">85%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__85"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">R</h3>
                <span class="skills__number">85%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__85"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Google Cloud
                </h3>
                <span class="skills__number">80%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__80"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Power BI
                </h3>
                <span class="skills__number">85%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__85"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Data Studio
                </h3>
                <span class="skills__number">85%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__85"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Data Architecture
                </h3>
                <span class="skills__number">80%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__80"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Tableau</h3>
                <span class="skills__number">70%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__70"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">AWS</h3>
                <span class="skills__number">50%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__50"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Zoho</h3>
                <span class="skills__number">50%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__50"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="skills__container data-scroll  grid">
          <div class="skills__content skills__close">
            <div class="skills__header close">
              <i class="uil uil-arrow skills__icon"></i>
              <div>
                <h1 class="skills__title">Web Developer
                </h1>
                <span class="skills__subtitle">+2 years</span>
              </div>
              <i class="uil uil-angle-double-down skills__arrow"></i>
            </div>
            <div class="skills__list grid">
              <div class="skills__data">
                <div class="skills__title">
                  <h3 class="skills__name">CSS</h3>
                  <span class="skills__number">100%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__100"></span>
                </div>
              </div>
              <div class="skills__data">
                <div class="skills__title">
                  <h3 class="skills__name">HTML</h3>
                  <span class="skills__number">100%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__100"></span>
                </div>
              </div>
              <div class="skills__data">
                <div class="skills__title">
                  <h3 class="skills__name">JavaScript</h3>
                  <span class="skills__number">90%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__90"></span>
                </div>
              </div>
              <div class="skills__data">
                <div class="skills__title">
                  <h3 class="skills__name">Node JS</h3>
                  <span class="skills__number">80%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__80"></span>
                </div>
              </div>
              <div class="skills__data">
                <div class="skills__title">
                  <h3 class="skills__name">Express</h3>
                  <span class="skills__number">80%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__80"></span>
                </div>
              </div>
              <div class="skills__data">
                <div class="skills__title">
                  <h3 class="skills__name">EJS</h3>
                  <span class="skills__number">80%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__80"></span>
                </div>
              </div>
              <div class="skills__data">
                <div class="skills__title">
                  <h3 class="skills__name">Mongo DB</h3>
                  <span class="skills__number">50%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__50"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="skills__content skills__close">
          <div class="skills__header open">
            <i class="uil uil-bolt skills__icon"></i>
            <div>
              <h1 class="skills__title">Other Skills</h1>
              <span class="skills__subtitle">+5 years</span>
            </div>
            <i class="uil uil-angle-double-down skills__arrow"></i>
          </div>
          <div class="skills__list grid">
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Jira</h3>
                <span class="skills__number">100%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__100"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Google My Business</h3>
                <span class="skills__number">100%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__100"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Confluence</h3>
                <span class="skills__number">95%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__95"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Castor</h3>
                <span class="skills__number">90%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__90"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Google Analytics</h3>
                <span class="skills__number">85%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__85"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Linux</h3>
                <span class="skills__number">80%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__80"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Google Ads
                </h3>
                <span class="skills__number">80%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__80"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Salesforce
                </h3>
                <span class="skills__number">70%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__70"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Amazon Connect
                </h3>
                <span class="skills__number">70%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__70"></span>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>

    <section class="qualification section" id="experience">
      <h1 class="section__title"> <a class="crossed__out--word ">Experience</a></h1>
      <div class="qualification__containter data-scroll container">
        <div class="qualification__tabs grid">
          <div class="qualification__button  qualification__active" data-target='#education'>
            <i class="uil uil-graduation-cap qualification__icon"></i> Education
          </div>
          <div class="qualification__button " data-target="#work">
            <i class="uil uil-briefcase-alt qualification__icon"></i> Work
          </div>
        </div>
        <div class="qualification__sections">
          <div class="qualification__content qualification__active" data-content id="education">
            <div class="qualification__data">
              <div>
                <h3 class="qualification__title">Industrial Engineer
                </h3>
                <span class="qualification__subtitle">UADE</span>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="text__yellow-background">2017 - Present</a>
                </div>
              </div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
            </div>

            <div class="qualification__data">
              <div></div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
              <div>
                <h3 class="qualification__title">Professional
                  <br>Data Analyst
                </h3>
                <span class="qualification__subtitle">Google
                  Career <br>Coursera</span>
                <div class="qualification__certificate">
                  <i class="uil uil-postcard"></i>
                  <a href="https://coursera.org/share/cc0a2c132c67b6967b473a61f32479b0" target="blank"
                    class="qualification__certificate">Certificate</a>
                </div>

                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="text__yellow-background">June 2021</a>
                </div>
              </div>
            </div>
            <div class="qualification__data">
              <div>
                <h3 class="qualification__title">JavaScript</h3>
                <span class="qualification__subtitle">Udemy</span>
                <div class="qualification__certificate">
                  <i class="uil uil-postcard"></i>
                  <a href="http://ude.my/UC-c9369fbe-2aa2-4b39-ab8f-f3accd446554" target="blank"
                    class="qualification__certificate">Certificate</a>
                </div>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="text__yellow-background">November 2020</a>
                </div>
              </div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
            </div>
            <div class="qualification__data">
              <div></div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
              <div>
                <h3 class="qualification__title">HTML & CSS</h3>
                <span class="qualification__subtitle">Udemy</span>
                <div class="qualification__certificate">
                  <i class="uil uil-postcard"></i>
                  <a href="http://ude.my/UC-b9cc2d62-294b-4ba8-8f49-35f3b8f915b3" target="blank"
                    class="qualification__certificate">Certificate</a>
                </div>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="text__yellow-background">October 2020</a>
                </div>
              </div>
            </div>
            <div class="qualification__data">
              <div>
                <h3 class="qualification__title">Mastering
                  <br>the modern <br>workflow
                </h3>
                <span class="qualification__subtitle">Udemy</span>
                <div class="qualification__certificate">
                  <i class="uil uil-postcard"></i>
                  <a href="http://ude.my/UC-60c59c0e-5ab5-4b32-b65d-a6d8c0011ff3" target="blank"
                    class="qualification__certificate">Certificate</a>
                </div>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="text__yellow-background">October 2020</a>
                </div>
              </div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
            </div>
            <div class="qualification__data">
              <div></div>
              <div>
                <span class="qualification__rounder"></span>
              </div>
              <div>
                <h3 class="qualification__title">MySQL
                  <br>Bootcamp
                </h3>
                <span class="qualification__subtitle">Udemy</span>
                <div class="qualification__certificate">
                  <i class="uil uil-postcard"></i>
                  <a href="https://drive.google.com/file/d/1gdiGVMDzbrgurreMAilTVFP71aoX48gK/view?usp=sharing"
                    target="blank" class="qualification__certificate">Certificate</a>
                </div>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="text__yellow-background">June 2021</a>
                </div>
              </div>
            </div>

          </div>
          <div class="qualification__content" data-content id="work">
            <div class="qualification__data">
              <div></div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
              <div>
                <h3 class="qualification__title">Data Analyst</h3>
                <span class="qualification__subtitle">Fluid Truck</span>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="text__yellow-background">2022 - Present</a>
                </div>
              </div>
            </div>
            <div class="qualification__data">
              <div>
                <h3 class="qualification__title">Operation Analyst</h3>
                <span class="qualification__subtitle">Cognizant</span>
                <span class="qualification__subtitle">For Google Business Profile Product</span>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="text__yellow-background">2022</a>
                </div>
              </div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
            </div>
            <div class="qualification__data">
              <div></div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
              <div>
                <h3 class="qualification__title">Web Developer</h3>
                <span class="qualification__subtitle">Freelance</span>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="text__yellow-background">2021 - Present</a>
                </div>
              </div>
            </div>
            <div class="qualification__data">
              <div>
                <h3 class="qualification__title">Product Analyst</h3>
                <span class="qualification__subtitle">Cognizant</span>
                <span class="qualification__subtitle">For Google Business Profile product</span>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="text__yellow-background">2021 - 2022</a>
                </div>
              </div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
            </div>
            <div class="qualification__data">
              <div></div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
              <div>
                <h3 class="qualification__title">Junior Research Analyst</h3>
                <span class="qualification__subtitle">Cognizant</span>
                <span class="qualification__subtitle">For Google Business Profile product</span>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="text__yellow-background">2019 - 2021</a>
                </div>
              </div>
            </div>
            <div class="qualification__data">
              <div>
                <h3 class="qualification__title">Operative</h3>
                <span class="qualification__subtitle">Friction Marketing Company</span>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="text__yellow-background">2016</a>
                </div>
              </div>
              <div>
                <span class="qualification__rounder"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cv" id="cv">
      <h1 class="section__title cv__title"> <a class="crossed__out--word ">Check my CV</a></h1>
      <div class="cv__content grid">
        <div class="cv__content--left grid">
          <img class="cv__content--img flex" src="/images/cv.svg" alt="">

        </div>
        <div class="cv__content--right">
          <p class="cv__content--text">
            I actually really think that is no longer necessary to have a CV to introduce yourself to a company or
            person. I don't agree that an excellent CV makes a person better for a job. Although, here it is!
          </p>
          <a target="blank" class="btn cv__content--btn"
            href="https://drive.google.com/file/d/11eo-Scc_4ZEfR9jLQhSHRe5t5Nzr6TF-/view?usp=sharing"> Download CV </a>
        </div>
      </div>
    </section>

    <section class="contact grid" id="contact">
      <h1 class="section__title">
        <a class="crossed__out--word ">Let's talk</a>
      </h1>
      <div class="contact__content grid">
        <div class="contact__content--text">
          <p class="contact__content--p">
            I'm not a fan of the forms. Therefore you can contact me using your favorites social medias
          </p>
        </div>
        <div class="contact__items-btn">
          <a class="btn contact__content--btn">
            Contact
          </a>
        </div>
      </div>
      <span id="faqs"></span>
    </section>

    <section class="faqs relative" id="faqs">
      <div class="faqs__content">
        <img class="faqs__content--img grid" src="/images/faq.svg" alt="" srcset="">
        <div class="faqs__container">

          <div class="faqs__template faqs__template--closed">
            <div class="faqs__template--header flex">
              <h3 class="faqs__template--question">
                Why data analysis?
              </h3>
              <i class="uil uil-angle-down faqs__template--arrow"></i>
            </div>
            <div class="faqs__template--answer">
              <p></p>
            </div>
          </div>

          <div class="faqs__template faqs__template--closed">
            <div class="faqs__template--header flex">
              <h3 class="faqs__template--question">
                Why web development?
              </h3>
              <i class="uil uil-angle-down faqs__template--arrow"></i>
            </div>
            <div class="faqs__template--answer">
              <p></p>
            </div>
          </div>

          <div class="faqs__template faqs__template--closed">
            <div class="faqs__template--header flex">
              <h3 class="faqs__template--question">
                Why did I decide to create a website?
              </h3>
              <i class="uil uil-angle-down faqs__template--arrow"></i>
            </div>
            <div class="faqs__template--answer">
              <p>
                First of all, my passion for coding and technology. I mean, did u ask yourself how much resources and
                content we have today to learn about technology?
              </p>
              <p>Imagine all you can do if you understand how to code different languages, how a database works and what
                you
                can do with that, how a system is designed</p>
              <p>Finally, I think that the websites gives you the opportunity to let others know what you think, which
                are
                your interests, how do you approach different points of views, etc.</p>
            </div>
          </div>

          <div class="faqs__template faqs__template--closed">
            <div class="faqs__template--header flex">
              <h3 class="faqs__template--question">
                What did I learn from all these years?
              </h3>
              <i class="uil uil-angle-down faqs__template--arrow"></i>
            </div>
            <div class="faqs__template--answer">
              <p>So big question to answer in a small section.</p>
              <span>I learned that work will always be there, but contacts/workship friends are very important.</span>
              <span>I learned where I would like to work and with who I would like to work</span>
            </div>
          </div>

          <div class="faqs__template faqs__template--closed">
            <div class="faqs__template--header flex">
              <h3 class="faqs__template--question">
                Are soft skills actually really necessary?
              </h3>
              <i class="uil uil-angle-down faqs__template--arrow"></i>
            </div>
            <div class="faqs__template--answer">
              <p></p>
            </div>
          </div>

          <div class="faqs__template faqs__template--closed">
            <div class="faqs__template--header flex">
              <h3 class="faqs__template--question">
                What do I think about a descentralized world?
              </h3>
              <i class="uil uil-angle-down faqs__template--arrow"></i>
            </div>
            <div class="faqs__template--answer">
              <p></p>
            </div>
          </div>

          <div class="faqs__template faqs__template--closed">
            <div class="faqs__template--header flex">
              <h3 class="faqs__template--question">
                Am I working on something important?
              </h3>
              <i class="uil uil-angle-down faqs__template--arrow"></i>
            </div>
            <div class="faqs__template--answer">
              <p></p>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="footer" id="footer">
      <img src="/images/alexx.svg" class="footer__img flex" alt="" srcset="">
      <div class="footer__content">
        <p>I'm based in Argentina, Buenos Aires.</p>
        <p>Copyrights are not reserved, we will be living in a decentralized world, let's keep public our ideas.</p>
      </div>
    </section>

  </main>

  <section class="bottom" id="bottom">
    <div class="bottom__container fixed">
      <div class="bottom__content flex">
        <div class="bottom__wpp">
          <a href="https://wa.me/qr/U4H6WUF2HEU4I1"><i class="uil uil-whatsapp bottom__icon"></i></a>
        </div>
        <div class="bottom__home">
          <a href="#home"><i class="uil uil-estate bottom__icon"></i></a>
        </div>
        <div class="bottom__faq">
          <a href="#faqs"><i class="uil uil-question-circle bottom__icon"></i></a>
        </div>
      </div>
    </div>
  </section>
</body>

<script src="/javascripts/index.js"></script>
<script>
  ScrollOut({
    targets: '.about__content, .skills__header, .qualification__tabs, .qualification__active, .cv__content--text, .cv__content--btn, .faqs__template--header, .contact__content--p, .contact__content--btn',
    threshold: 0.05,
    once: true,
    cssProps: {
      viewportY: true,
      visibleY: true
    },
  });
</script>

</html>