<!DOCTYPE html>

<html lang="en">

<head>
  <%- include('includes/head') %>
  <meta name="description" content="I'm Alexander Tisko; Senior Data Analyst and Web Developer Based in Argentina and Working for All the World." > 
  <meta name="keywords" content="Alexander Tisko, Tisko, Alex Tisko, Data Analyst, Business Inteligence, Freelancer, Web Design, Data Science, Argentina, Programador Argentina, Data Analyst Argentina"/>
  <meta name="robots" content="index,follow,archive,translate"/>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-H29938YQNG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-H29938YQNG');
</script>

<body class="body">
  <header class="header" id="header">
    <%- include('includes/nav') %>
  </header>

  <main class="main" id="main">
    <section class="home" id="home">
      <div class="home__content grid">
        <div class="home__left">
          <div class="home__left--title">
            <h1 class="home__left--alex">Let's <a class="first__color--word">create</a> memorable work together</h1>
          </div>
          <div class="home__left--text">
            <p class="home__left--p">If you are here, it means that you are interested in getting to know me a little bit better. Well, let me say you that you are in the right place. Something really important <a class="word__bold first__color--word"> that you need to know before we start this journey,</a> is that if you spend at least 45 seconds reading my website, you will know me so much better and hopefully I could impress you and <a class="crossed__out--word ">work together</a>!
          </div>
        </div>
        <div class="home__right">
          <img class="home__right--img" src="/images/data-home.svg" alt="Alexander Tisko is a freelancer Data Analyst working around the world with different type of clients.">
        </div>
      </div>
    </section>

    <section class="about relative" id="about">
      <h1 class="section__title"> <a class="crossed__out--word ">About me</a></h1>
      <div class="about__container">
        <div class="about__content flex">

          <div class="about__content--template relative">
            <div class="about__content--intro grid">
              <h1 class="about__content--title">Data Analyst</h1>
              <p class="about__content--intro-text">
                I'm working as a Senior Data Analyst for Fluid Truck, but I also help many clients working as a freelancer. I help them to understand how powerful is their data so they can make better <a
                  class="word__bold first__color--word">data driven decisions</a>.
              </p>
              <img class="about__content--img absolute" src="/images/data.svg" alt="Image representing Alexander Tisko working as a data analyst." srcset="">
            </div>
          </div>


          <div class="about__content--template relative">
            <div class="about__content--intro grid">
              <h1 class="about__content--title">Web Developer</h1>
              <p class="about__content--intro-text">I've made individual portfolios for different clients and websites for start-ups companies. I am a <a
                  class="word__bold first__color--word">full stack developer</a>, although I have more experience as a frontend deveveloper, backend is my favorite one.</p>
              <img class="about__content--img absolute" src="/images/developer.svg" alt="Image representing Alexander Tisko working freelancer as a web developer." srcset="">
            </div>
          </div>

          <div class="about__content--template relative">
            <div class="about__content--intro grid">
              <h1 class="about__content--title">Operation Analyst</h1>
              <p class="about__content--intro-text">I've experience working with small, medium and big companies. I understand how
                they work and where are the strengths or weakness on each of them. I help them managing the operation with <a class="word__bold first__color--word">agile
                  methodologies</a>.</p>
              <img class="about__content--img absolute" src="/images/operation.svg" alt="Image representing Alexander Tisko working as an operation analyst." srcset="">
            </div>
          </div>

          <div class="about__content--template relative">
            <div class="about__content--intro grid">
              <h1 class="about__content--title">Problem Solving</h1>
              <p class="about__content--intro-text">I became a <a class="word__bold first__color--word">problem
                  solving</a> person. I enjoy working on different issues and find the best solutions. I say that
                analysts are like detectives and issues on companies are like the crimes. Are you ready to solve the crime with me?
              </p>
              <img class="about__content--img absolute" src="/images/problem.svg" alt="Alexander Tisko is a problem solving person." srcset="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="skills section relative" id="skills">
      <h1 class="section__title skills__section--title"> <a class="crossed__out--word ">Skills</a></h1>
      <div class="skills__grid grid">
        <div class="skills__content skills__open">
          <div class="skills__header open">
            <i class="uil uil-chart-line skills__icon"></i>
            <div>
              <h1 class="skills__title">Data Analysis</h1>
              <span class="skills__subtitle">+3 years</span>
            </div>
            <i class="uil uil-angle-double-down skills__arrow"></i>
          </div>
          <div class="skills__list grid">
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Spreadsheets</h3>
                <span class="skills__number">100%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__100"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">SQL</h3>
                <span class="skills__number">95%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__95"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Looker / LookML</h3>
                <span class="skills__number">90%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__90"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">BigQuery</h3>
                <span class="skills__number">85%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__85"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">R</h3>
                <span class="skills__number">85%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__85"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Google Cloud
                </h3>
                <span class="skills__number">80%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__80"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Power BI
                </h3>
                <span class="skills__number">85%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__85"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Data Studio
                </h3>
                <span class="skills__number">85%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__85"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Data Architecture
                </h3>
                <span class="skills__number">80%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__80"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Python</h3>
                <span class="skills__number">80%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__80"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Tableau</h3>
                <span class="skills__number">80%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__80"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Zoho</h3>
                <span class="skills__number">70%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__70"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">AWS</h3>
                <span class="skills__number">50%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__50"></span>
              </div>
            </div>
            
          </div>
        </div>
        <div class="skills__container data-scroll  grid">
          <div class="skills__content skills__open">
            <div class="skills__header close">
              <i class="uil uil-arrow skills__icon"></i>
              <div>
                <h1 class="skills__title">Web Developer
                </h1>
                <span class="skills__subtitle">+2 years</span>
              </div>
              <i class="uil uil-angle-double-down skills__arrow"></i>
            </div>
            <div class="skills__list grid">
              <div class="skills__data">
                <div class="skills__title">
                  <h3 class="skills__name">CSS</h3>
                  <span class="skills__number">100%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__100"></span>
                </div>
              </div>
              <div class="skills__data">
                <div class="skills__title">
                  <h3 class="skills__name">HTML</h3>
                  <span class="skills__number">100%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__100"></span>
                </div>
              </div>
              <div class="skills__data">
                <div class="skills__title">
                  <h3 class="skills__name">JavaScript</h3>
                  <span class="skills__number">90%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__90"></span>
                </div>
              </div>
              <div class="skills__data">
                <div class="skills__title">
                  <h3 class="skills__name">Node JS</h3>
                  <span class="skills__number">80%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__80"></span>
                </div>
              </div>
              <div class="skills__data">
                <div class="skills__title">
                  <h3 class="skills__name">Express</h3>
                  <span class="skills__number">80%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__80"></span>
                </div>
              </div>
              <div class="skills__data">
                <div class="skills__title">
                  <h3 class="skills__name">EJS</h3>
                  <span class="skills__number">80%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__80"></span>
                </div>
              </div>
              <div class="skills__data">
                <div class="skills__title">
                  <h3 class="skills__name">MySQL</h3>
                  <span class="skills__number">80%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__80"></span>
                </div>
              </div>
              <div class="skills__data">
                <div class="skills__title">
                  <h3 class="skills__name">Mongo DB</h3>
                  <span class="skills__number">50%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__50"></span>
                </div>
              </div>
              <div class="skills__data">
                <div class="skills__title">
                  <h3 class="skills__name">React JS</h3>
                  <span class="skills__number">50%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__50"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="skills__content skills__open">
          <div class="skills__header open">
            <i class="uil uil-bolt skills__icon"></i>
            <div>
              <h1 class="skills__title">Other Skills</h1>
              <span class="skills__subtitle">+5 years</span>
            </div>
            <i class="uil uil-angle-double-down skills__arrow"></i>
          </div>
          <div class="skills__list grid">
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Jira</h3>
                <span class="skills__number">100%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__100"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Google My Business</h3>
                <span class="skills__number">100%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__100"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Confluence</h3>
                <span class="skills__number">95%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__95"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">GitHub</h3>
                <span class="skills__number">95%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__95"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Castor</h3>
                <span class="skills__number">90%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__90"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Google Analytics</h3>
                <span class="skills__number">85%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__85"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Linux</h3>
                <span class="skills__number">80%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__80"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Google Ads
                </h3>
                <span class="skills__number">80%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__80"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Salesforce
                </h3>
                <span class="skills__number">70%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__70"></span>
              </div>
            </div>
            <div class="skills__data">
              <div class="skills__title">
                <h3 class="skills__name">Amazon Connect
                </h3>
                <span class="skills__number">70%</span>
              </div>
              <div class="skills__bar">
                <span class="skills__percentage skills__70"></span>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>

<!------------------------ QUALIFICATION EXPERIENCE  ------------------------>

    <section class="qualification section" id="experience">
      <h1 class="section__title"> <a class="crossed__out--word ">Experience</a></h1>
      <div class="qualification__containter data-scroll container">
        <div class="qualification__tabs grid">
          <div class="qualification__button  qualification__active" data-target='#education'>
            <i class="uil uil-graduation-cap qualification__icon"></i> Education
          </div>
          <div class="qualification__button " data-target="#work">
            <i class="uil uil-briefcase-alt qualification__icon"></i> Work
          </div>
        </div>
        <div class="qualification__sections">
          <div class="qualification__content qualification__active" data-content id="education">
            <div class="qualification__data">
              <div class="qualification__box--left"></div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
              <div class="qualification__box--right">
                <h3 class="qualification__title">
                  React JS
                </h3>
                <span class="qualification__subtitle">Coderhouse</span>
                <div class="qualification__certificate">
                  <!-- <i class="uil uil-postcard"></i>
                  <a href="" target="blank"
                    class="qualification__certificate">Certificate</a> -->
                  <!--  I WILL FINISH IT SOON -->
                </div>

                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="">In Course</a>
                </div>
              </div>
            </div>
            <div class="qualification__data">
              <div class="qualification__box--left">
                <h3 class="qualification__title">Industrial Engineer
                </h3>
                <span class="qualification__subtitle">UADE</span>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="">2017 - Present</a>
                </div>
              </div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
            </div>

            <div class="qualification__data">
              <div class="qualification__box--left"></div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
              <div class="qualification__box--right">
                <h3 class="qualification__title">Data Analyst
                </h3>
                <span class="qualification__subtitle">Google
                  Career <br>Coursera</span>
                <div class="qualification__certificate">
                  <i class="uil uil-postcard"></i>
                  <a href="https://coursera.org/share/cc0a2c132c67b6967b473a61f32479b0" target="blank"
                    class="qualification__certificate">Certificate</a>
                </div>

                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="">June 2021</a>
                </div>
              </div>
            </div>
            <div class="qualification__data">
              <div lass="qualification__box--left">
                <h3 class="qualification__title">JavaScript</h3>
                <span class="qualification__subtitle">Udemy</span>
                <div class="qualification__certificate">
                  <i class="uil uil-postcard"></i>
                  <a href="http://ude.my/UC-c9369fbe-2aa2-4b39-ab8f-f3accd446554" target="blank"
                    class="qualification__certificate">Certificate</a>
                </div>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="">November 2020</a>
                </div>
              </div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
            </div>
            <div class="qualification__data">
              <div lass="qualification__box--left"></div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
              <div>
                <h3 class="qualification__title">HTML & CSS</h3>
                <span class="qualification__subtitle">Udemy</span>
                <div class="qualification__certificate">
                  <i class="uil uil-postcard"></i>
                  <a href="http://ude.my/UC-b9cc2d62-294b-4ba8-8f49-35f3b8f915b3" target="blank"
                    class="qualification__certificate">Certificate</a>
                </div>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="">October 2020</a>
                </div>
              </div>
            </div>
            <div class="qualification__data">
              <div class="qualification__box--left">
                <h3 class="qualification__title">Mastering
                  <br>the modern <br>workflow
                </h3>
                <span class="qualification__subtitle">Udemy</span>
                <div class="qualification__certificate">
                  <i class="uil uil-postcard"></i>
                  <a href="http://ude.my/UC-60c59c0e-5ab5-4b32-b65d-a6d8c0011ff3" target="blank"
                    class="qualification__certificate">Certificate</a>
                </div>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="">October 2020</a>
                </div>
              </div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
            </div>
            <div class="qualification__data">
              <div class="qualification__box--left"></div>
              <div>
                <span class="qualification__rounder"></span>
              </div>
              <div>
                <h3 class="qualification__title">MySQL
                  <br>Bootcamp
                </h3>
                <span class="qualification__subtitle">Udemy</span>
                <div class="qualification__certificate">
                  <i class="uil uil-postcard"></i>
                  <a href="https://drive.google.com/file/d/1gdiGVMDzbrgurreMAilTVFP71aoX48gK/view?usp=sharing"
                    target="blank" class="qualification__certificate">Certificate</a>
                </div>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="">June 2021</a>
                </div>
              </div>
            </div>
          
<!------------------------ QUALIFICATION WORK ------------------------>

          </div>
          <div class="qualification__content" data-content id="work">
            <div class="qualification__data">
              <div></div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
              <div>
                <h3 class="qualification__title">Data Analyst</h3>
                <span class="qualification__subtitle">Fluid Truck</span>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="">2022 - Present</a>
                </div>
              </div>
            </div>
            <div class="qualification__data">
              <div>
                <h3 class="qualification__title">Operation Analyst</h3>
                <span class="qualification__subtitle">Cognizant</span>
                <span class="qualification__subtitle">For Google Business Profile Product</span>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="">2022</a>
                </div>
              </div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
            </div>
            <div class="qualification__data">
              <div></div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
              <div>
                <h3 class="qualification__title">Web Developer</h3>
                <span class="qualification__subtitle">Freelance</span>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="">2021 - Present</a>
                </div>
              </div>
            </div>
            <div class="qualification__data">
              <div>
                <h3 class="qualification__title">Product Analyst</h3>
                <span class="qualification__subtitle">Cognizant</span>
                <span class="qualification__subtitle">For Google Business Profile product</span>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="">2021 - 2022</a>
                </div>
              </div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
            </div>
            <div class="qualification__data">
              <div></div>
              <div>
                <span class="qualification__rounder"></span>
                <span class="qualification__line"></span>
              </div>
              <div>
                <h3 class="qualification__title">Junior Research Analyst</h3>
                <span class="qualification__subtitle">Cognizant</span>
                <span class="qualification__subtitle">For Google Business Profile product</span>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="">2019 - 2021</a>
                </div>
              </div>
            </div>
            <div class="qualification__data">
              <div>
                <h3 class="qualification__title">Operative</h3>
                <span class="qualification__subtitle">Friction Marketing Company</span>
                <div class="qualification__calendar">
                  <i class="uil uil-calendar-alt"></i> <a class="">2016</a>
                </div>
              </div>
              <div>
                <span class="qualification__rounder"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cv" id="cv">
      <h1 class="section__title cv__title"> <a class="crossed__out--word ">Check my CV</a></h1>
      <div class="cv__content grid">
        <div class="cv__content--left grid">
          <img class="cv__content--img flex" src="/images/cv.svg" alt="Alexander Tisko curriculum vitae CV.">
        </div>
        <div class="cv__content--right grid">
          <a target="blank" class="btn cv__content--btn"
            href="https://drive.google.com/file/d/13Yih3HX1ALaaBzih-51LGExRKh_RnI_P/view?usp=sharing"> Download</a>
        </div>
      </div>
    </section>

    <section class="contact grid" id="contact">
      <h1 class="section__title">
        <a class="crossed__out--word ">Let's talk</a>
      </h1>
      <div class="contact__content grid">
        <div class="contact__content--text">
          <p class="contact__content--p">
            I'm not a fan of the forms. Therefore you can contact me using your favorites social medias
          </p>
        </div>
        <div class="contact__items-btn">
          <a class="btn contact__content--btn">
            Contact
          </a>
        </div>
      </div>
    </section>

    <section class="faqs relative" id="faqs">
      <div class="faqs__content">
        <img class="faqs__content--img grid" src="/images/faq.svg" alt="FAQs section for Alexander Tisko website." srcset="">
        <div class="faqs__container">

          <div class="faqs__template faqs__template--closed">
            <div class="faqs__template--header flex">
              <h3 class="faqs__template--question">
                Why data analysis?
              </h3>
              <i class="uil uil-angle-down faqs__template--arrow"></i>
            </div>
            <div class="faqs__template--answer">
              <p>
                Did you ever think on how much you could do if you have the right data in your hands? Data lives everywhere, it's one of the <a class="word__bold first__color--word">most powerful resources</a> for a company and for a human.
              </p>
              <p>
                I started my journey helping companies to understand their issues with data and visualizations. I realized that I am a very <a class="word__bold first__color--word">detail oriented person</a>, so I was able to find very easy patterns and issues in the data. 
              </p>
              <p>
                I started and finished different careers and courses about data analyst, data scientist and data engineering. I learned how the data is pulled into a database from different APIs. With that data I was able to create <a class="word__bold first__color--word">data warehouses</a>, and then <a class="word__bold first__color--word">data marts</a> for reporting purposes of the companies. 
              </p>
              <p>
                Finally, using different visualization tools and with a story telling skill, I was able to show excellent reports to the stakeholders.
              </p>
            </div>
          </div>

          <div class="faqs__template faqs__template--closed">
            <div class="faqs__template--header flex">
              <h3 class="faqs__template--question">
                Why web development?
              </h3>
              <i class="uil uil-angle-down faqs__template--arrow"></i>
            </div>
            <div class="faqs__template--answer">
              <p>
                When I started working as an analyst, I faced with different issues. One of them was that I didn't have the basics of programming, so I decided to start with HTML and CSS, of course then I moved quickly to JavaScript and I'm still improving my knowledge.
              </p>
              <p>
                I realized that coding knowledge is very important to understand how a lot of ITs companies work, how to <a class="word__bold first__color--word">face small and big issues</a> (if you code, you always are going to have issues). This really helped me to have a bigger picture of companies and personal life.
              </p>
              <p>
                I really think that today we have so many tools to start with you own company or to study a career by your own. Just imagine, <a class="word__bold first__color--word">data + coding knowledge</a>, that's a big and powerful gun 🔥. 
              </p>
            </div>
          </div>

          <div class="faqs__template faqs__template--closed">
            <div class="faqs__template--header flex">
              <h3 class="faqs__template--question">
                Why did I decide to create a website?
              </h3>
              <i class="uil uil-angle-down faqs__template--arrow"></i>
            </div>
            <div class="faqs__template--answer">
              <p>
                First of all, my <a class="word__bold first__color--word">passion for coding and technology</a>. I will say it again, did u ask yourself how much we can do with data and coding knowledge?
              </p>
              <p>
                Imagine all you can do if you understand how to code in different languages, how a database works and what you can do with all of that. How a system is designed, how to improve it, how to find solutions to issues, etc.</p>
              <p>
                I think that websites give you the opportunity to let others know what you think about a subject, which are your interests, let it introudce you to others, and show them <a class="word__bold first__color--word">how much you can do with your skills</a>.
              </p>
            </div>
          </div>

          <div class="faqs__template faqs__template--closed">
            <div class="faqs__template--header flex">
              <h3 class="faqs__template--question">
                How was my job journey?
              </h3>
              <i class="uil uil-angle-down faqs__template--arrow"></i>
            </div>
            <div class="faqs__template--answer">
              <p>This is a big question to answer it in a small section. I had the opportunity to work and live outside my country, then I had the opportunity to start and see how my carrer grew up working with a big company.</p>
              <p>
                Then I decided to start my own works as a freelancer and finally I work hand to hand with a start up company and also with different clients around the world.
              </p>
              <p>
                One person used to tell me, always look back and see how much you've made and the impact of that, and I'm really proud about my journey. It's just a short journey, so many things are going to come with a bigger experience and different people.
              </p>
            </div>
          </div>

          <div class="faqs__template faqs__template--closed">
            <div class="faqs__template--header flex">
              <h3 class="faqs__template--question">
                Are soft skills actually really necessary?
              </h3>
              <i class="uil uil-angle-down faqs__template--arrow"></i>
            </div>
            <div class="faqs__template--answer">
              <p>
                This question... This is not gonna be extense, because it's easy. 
              </p>
              <p>
                <a class="word__bold first__color--word">Of course it's important</a>! Something I understood is that whenever you go, people will exist (unless we have a zombie attack or something extremelly out of this nature, well, we also can have some kind of unnecesary war, anyway...). You will need to work close with people.
              </p>
              <p>
                Having said that, at the end of the journey, of course that your skills and impresions are really important, but the relationships between people is going to be a <a class="word__bold first__color--word">key factor</a>. There is where the soft skills will help you so much.
              </p>
            </div>
          </div>

          <div class="faqs__template faqs__template--closed">
            <div class="faqs__template--header flex">
              <h3 class="faqs__template--question">
                What do I think about a descentralized world?
              </h3>
              <i class="uil uil-angle-down faqs__template--arrow"></i>
            </div>
            <div class="faqs__template--answer">
              <p>
                I love the idea of a descentralized world. I don't think that we are close to that, but the idea of having a financial system not owned by a group of people, and where you can decide who to send actives without any externaly party control of that, it's just <a class="word__bold first__color--word">an amazing idea</a>. 
              </p>
              <p>
                Also, imagine the idea of having a house and not a physical key or documents/papers that approve your ownership of the house. Well, NFTs could have a solution. In a virtual wallet you could have the documents and keys of your house and you could even sell that house to another person... 
              </p>
            </div>
          </div>

          <div class="faqs__template faqs__template--closed">
            <div class="faqs__template--header flex">
              <h3 class="faqs__template--question">
                Am I working on something important?
              </h3>
              <i class="uil uil-angle-down faqs__template--arrow"></i>
            </div>
            <div class="faqs__template--answer">
              <p>
                I'm a person who always is thinking on how to improve my knowledge or skills about something, so I'm always working on a project.
              </p>
              <p>
                Nevertheless, I have different projects where I will be working on. One of them is a website shop for a candles business, then a website (like a portfolio) for a designer, and then my really big focus...
              </p>
              <p>
                I'm working on the creation of my own company. Yep, I will create a company. It's a matter of ⏳.
              </p>
          </div>

          <div class="faqs__template faqs__template--closed">
            <div class="faqs__template--header flex">
              <h3 class="faqs__template--question">
                Why would you like to join my community?
              </h3>
              <i class="uil uil-angle-down faqs__template--arrow"></i>
            </div>
            <div class="faqs__template--answer">
              <p>
                I swear I'm not going to spam your inbox (you will be able to unsuscribe your email address if you wish).
              </p>
              <p>
                The emails I will be sending are about new sections on the website, next releases, new projects I will be working on, new blogs, etc.. 
              </p>
              <p>
                It just a way to be connected and for you to know in what I am working on. 
              </p>
          </div>

        </div>
      </div>
    </section>

    <%- include('includes/footer') %>

  </main>

  <section class="bottom" id="bottom">
    <div class="bottom__container fixed">
      <div class="bottom__content flex">
        <div class="bottom__wpp">
          <a href="https://wa.me/qr/U4H6WUF2HEU4I1"><i class="uil uil-whatsapp bottom__icon"></i></a>
        </div>
        <div class="bottom__home">
          <a href="#header"><i class="uil uil-estate bottom__icon"></i></a>
        </div>
        <div class="bottom__faq">
          <a href="#faqs"><i class="uil uil-question-circle bottom__icon"></i></a>
        </div>
      </div>
    </div>
  </section>
</body>

<script src="/javascripts/index.js"></script>
<script>
  ScrollOut({
    targets: '.about__content, .skills__header, .qualification__tabs, .qualification__active, .cv__content--text, .faqs__template--header, .contact__content--p, .contact__content--btn, .cv__content--img, .skills__data, .footer__user-count, .form__input, .form__btn, .footer__community, .footer__release--title, .footer__release--content, .footer__qr--code',
    threshold: 0.06 ,
    once: true,
    cssProps: {
      viewportY: true,
      visibleY: true
    },
  });
</script>

</html>