/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*==================== GOOGLE FONTS ====================*/
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  /* Accent Color Options (for highlights and call-to-action buttons): */
  --first-color: #ee1d52;
  --second-color: #ddf247;
  --third-color: #0083c7;
  --fourth-color: #00c3a1;

  /* Neutral Shades (for text and background contrast): */
  --text-color-titles: #fff;
  --text-color: rgb(203, 203, 203);

  /* Shadows/Highlights: */
  --shadow-color: rgba(0, 0, 0, 0.4);
  --background-color: #1f2023;
  --background-color-lighter: #27292c;

  /*========== Font and typography ==========*/
  --title-font: "Lato", sans-serif;
  --body-font: "Montserrat", sans-serif;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-4: 4rem;
  --mb-5: 5rem;
  --mb-7: 7rem;
  --mb-10: 10rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
  --container-border: 1rem;

  --big-font-size: 24px;
  --title-font-size: 20px;
  --sub-title-font-size: 18px;
  --normal-font-size: 16px;
  --small-font-size: 14px;
  --smaller-font-size: 12px;

  /*========== Font weight ==========*/
  --font-weight-normal: 450;
  --font-weight-medium: 550;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --title-font-size: 26px;
    --big-font-size: 22px;
    --sub-title-font-size: 20px;
    --normal-font-size: 17px;
    --h3-font-size: 18px;
    --normal-font-size: 16px;
    --small-font-size: 15px;
    --smaller-font-size: 14.5px;
    --extra-small-font-size: 13px;
  }
}

/*==================== BASE ====================*/

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #383a3d;
  border-radius: 0.5rem;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-corner {
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--first-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color);
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--background-color);
  color: var(--text-color);
  /* margin: var(--mb-2) var(--mb-1); */
  margin: var(--mb-1) var(--mb-1-5) var(--mb-1) var(--mb-1-5);
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  color: var(--text-color-titles);
  letter-spacing: 0.5px;
}

h1 {
  font-size: var(--title-font);
  font-weight: var(--font-weight-bold);
  font-size: var(--title-font-size);
}
h2 {
  font-size: var(--sub-title-font-size);
  font-weight: var(--font-weight-normal);
}

a {
  text-decoration: none;
  letter-spacing: 0.5px;
}

ul {
  list-style: none;
  letter-spacing: 0.5px;
}

p {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  letter-spacing: 0.5px;
  line-height: 25px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: var(--mb-0-5);
  background-color: var(--background-color-lighter);
  border-radius: 10px;
  padding: var(--mb-0-5);
  padding-left: var(--mb-1);
}

.btn-text p {
  font-weight: bold;
  font-size: var(--small-font-size);
}

.btn-arrow {
  font-size: 20px;
}

.btn-arrow-container {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  color: var(--text-color);
}

/* SCROLLL */

[data-scroll] {
  opacity: 0;
  -webkit-transform: translateX(-6rem) scale(0.93);
  -ms-transform: translateX(-6rem) scale(0.93);
  transform: translateX(-6rem) scale(0.93);
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
}

[data-scroll="in"] {
  opacity: 1;
  -webkit-transform: translateX(0) scale(1);
  -ms-transform: translateX(0) scale(1);
  transform: translateX(0) scale(1);
}

/* ---------------------  LEFT ---------------------*/
.header {
  width: 100%;
}
.nav-menu {
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header-avatar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-2);
}
.header-avatar-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.header-avatar-pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.header-meta {
  margin-top: var(--mb-0-5);
}
.header-meta h1 {
  /* margin-top: var(--mb-3); */
  margin-bottom: 0;
  /* font-size: var(--sub-title-font-size); */
}
.header-title {
  margin-top: var(--mb-0-5);
}
.header-small-description {
  line-height: 15px;
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.socials {
  width: 100%;
}
.social-list {
  margin-top: var(--mb-1);
  margin-bottom: var(--mb-1-5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.3rem;
}

.social-icon {
  color: var(--first-color);
  font-weight: var(--normal-font-size);
  font-size: 19px;
}

/* ############ CENTER ############### */

.crossed__out--word {
  background-image: url("../images/tachado.svg");
  background-position: 0% 110%;
  background-size: contain;
  background-repeat: no-repeat;
}

.center-welcome-container {
  margin-bottom: var(--mb-3);
}

.center-container {
  background-color: var(--background-color-lighter);
  margin-top: var(--mb-2);
  border-radius: 10px;
  padding: var(--mb-2) var(--mb-1-5);
  width: auto;
}

.center-title {
  margin-bottom: 1.25rem;
  font-size: var(--title-font-size);
}

.center-welcome-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--mb-1);
}

.center-welcome-pic {
  margin: var(--mb-3) auto;
  width: 85%;
  display: block;
}

.center-description {
  margin-bottom: var(--mb-1);
  line-height: 30px;
}

.center-description-list {
  list-style: disc;
  margin-left: var(--mb-3);
}

.center-description-list li {
  margin-bottom: var(--mb-1);
}

.main-center-description {
  text-align: center;
  background-color: var(--background-color);
  padding: var(--mb-2);
  margin-bottom: var(--mb-3);
  margin-top: var(--mb-3);
}

.center-description-resalted {
  line-height: 30px;
  font-style: italic;
  background-color: var(--background-color-lighter);
  padding: var(--mb-1);
  border-radius: 10px;
}

.greeting-code {
  font-family: 'Source Code Pro', monospace; 
  font-size: var(--smaller-font-size);
  line-height: 1.5; 
  background-color: var(--background-color-lighter); 
  color: #d15700; 
  border-left: 4px solid #d15700; /* Orange border to emphasize code block */
  padding: 10px 15px; /* Padding for spacing */
  border-radius: 5px; /* Rounded corners */
  margin: 15px 0; /* Spacing between other elements */
  white-space: pre-wrap; /* Preserves formatting */
  overflow-x: auto; /* Adds horizontal scrolling for long code */
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-2);

}
.recommendations-container {
  margin: var(--mb-1) 0 var(--mb-3) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  padding: 10px;
  scroll-behavior: smooth;
}

.recomendations-blocks {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 270px;
  flex: 0 0 270px;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  scroll-snap-align: start;
  min-height: 100px;
  background-color: var(--background-color);
  margin-bottom: var(--mb-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between; 
}

.recommendations-container::-webkit-scrollbar {
  height: 10px;
  display: initial;
}

.recommendations-container::-webkit-scrollbar-thumb {
  background-color: var(--first-color);
  border-radius: 10px;
  cursor: grab;
  cursor: -webkit-grab;
}

.recommendations-container::-webkit-scrollbar-track {
  background-color: var(--background-color);
  border-radius: 10px;
  cursor: grab;
  cursor: -webkit-grab;
}

.recommendation-title h4 {
  font-size: var(--sub-title-font-size);
  margin-bottom: var(--mb-0-5);
}

.recommendation-title p {
  font-size: var(--small-font-size);
  color: var(--text-color-titles);
  line-height: 15px;
}

.recommendation-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--mb-0-5);
  margin: var(--mb-1) 0;
}

.recommendation-description {
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.recomendations-blocks .btn {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* ############ RIGHT ############### */

.right-container {
  margin-bottom: var(--mb-2);
  margin-top: var(--mb-2);
}

.interests {
  margin: var(--mb-1) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: var(--mb-0-5);
  margin-bottom: var(--mb-2);
}

.interest-items {
  background-color: var(--background-color-lighter);
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: var(--mb-0-5);
  border-radius: 5px;
  font-size: var(--small-font-size);
}

.portfolio {
  margin-top: var(--mb-3);
}

.portfolio_meta p {
  margin-bottom: var(--mb-1);
}

.portfolio-element {
  width: 100%;
  background-color: var(--background-color);
  padding: var(--mb-1) var(--mb-1) var(--mb-2) var(--mb-1);
  height: 100%;
  border-radius: 10px;
  margin-top: var(--mb-2);
  border-radius: 10px;
}

.portfolio-element h2 {
  font-weight: bold;
  padding: var(--mb-0-5);
  border-radius: 10px;
  color: var(--text-color-titles);
}
.portfolio-language {
  margin: var(--mb-1) 0 var(--mb-1-5) var(--mb-0-5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: var(--mb-0-5);
  width: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.language-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
  gap: var(--mb-0-25);
}

.language-img {
  width: 25px;
  height: 25px;
}

.language-item p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.portfolio-description {
  background-color: var(--background-color-lighter);
  margin-top: var(--mb-1);
  margin-bottom: var(--mb-1-5);
  padding: var(--mb-1);
  border-radius: 10px;
}

.portfolio-description p {
  margin-top: var(--mb-0-5);
  margin-bottom: var(--mb-0-5);
}

@media screen and (min-width: 700px) {
  
  .body {
    width: 85%;
    margin: var(--mb-1) auto 0 auto;
    display: block;
  }

  .header-avatar {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin-bottom: var(--mb-2);
  }

  .center-description-list {
    padding-bottom: var(--mb-0-25);
    margin-bottom: var(--mb-3);
  }

  .center-description-list div {
    padding-bottom: var(--mb-0-5);
  }

  .main-center-description {
    width: 80%;
    margin: var(--mb-3) auto var(--mb-3) auto;
    display: block;
  }

  .portfolio-element {
    padding-left: var(--mb-2);
    padding-right: var(--mb-2);
  }

  .center-welcome-pic {
    width: 80%;
  }
}

@media screen and (min-width: 800px) {

  .center-right-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 30px 40%;
    grid-template-columns: 60% 40%;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    gap: 30px;
    margin-left: 0;
    margin-right: 0;
    background-color: var(--background-color);
  }

  .center-container {
    margin-top: 0;
    margin-bottom: 10rem;
  }

  .right-container {
    margin-top: var(--mb-3);
    margin-bottom: 10rem;
  }

  .center-title {
    font-size: var(--sub-title-font-size);
  }
  
}

@media screen and (min-width: 1024px) {
  .body {
    position: relative;
    width: 90%;
    margin: 0 auto;
  }

  .nav-menu {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
  }
  
  .header {
    height: 100vh;
    margin-top: var(--mb-5);
  }

  .center-description-list  {
    margin-bottom: var(--mb-2);
  }

  .center-description-list li  {
    margin-bottom: var(--mb-0-5);
  }

  .center-right-block {
    position: absolute;
    left: 280px;
    top: 0px;
    right: 0;
  }

  .center-container {
    margin-top: var(--mb-5);
  }
  .right-container {
    width: 100%;
    margin-top: var(--mb-5);
  }

  .header-title-container h1 {
    font-size: var(--sub-title-font-size);
  }

}
@media screen and (min-width: 1300px) {
  .center-container {
    margin-left: var(--mb-5);
  }
  .body {
    width: 80%;
  }

  .center-welcome-container {
    margin-bottom: 0;
  }

  .center-welcome-block {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .center-description {
    margin-bottom: var(--mb-1);
  }

  .center-right-container {
    gap: 100px;
  }

  .center-right-block {
    left: 250px;
    right: 50px;
  }

}
