<section class="right-container">

    <img  class="center-welcome-pic" src="/images/data_home.svg" alt=""> 

    <h3 class="right-container-titles">Interests</h3>
    <%- include('../content/interest', { 
        interests: [
            '#data-analysis', 
            '#data-engineering', 
            '#data-visualization', 
            '#data-modeling', 
            '#data-monitoring', 
            '#data-ingestion', 
            '#data-management', 
            '#data-governance', 
            '#data-automation', 
            '#story-telling', 
            '#mentoring', 
            '#root-cause-analysis', 
            '#a/b-testing', 
            '#business-intelligence', 
            '#business-development'
        ] 
    }) %>
    
    <h3 class="right-container-titles">Languages</h3>
    <%- include('../content/interest', { 
        interests: [
            'SQL', 
            'Looker Studio', 
            'LookML', 
            'Dataform', 
            'Tableau', 
            'PowerBI', 
            'Python', 
            'Dataplex', 
            'R', 
            'Airflow', 
            'Kubernetes', 
            'JavaScript', 
            'HTML', 
            'CSS', 
            'EJS', 
            'NodeJS', 
            'MongoDB'
        ] 
    }) %>
    
    <h3 class="right-container-titles">Tools</h3>
    <%- include('../content/interest', { 
        interests: [
            'GCP', 
            'AWS', 
            'GitHub', 
            'Postgres Man', 
            'Fivetran', 
            'Zoho', 
            'Salesforce', 
            'Dialpad', 
            'Atlassian', 
            'Office', 
            'Windows'
        ] 
    }) %>
    
    <h3 class="right-container-titles">Hobbies</h3>
    <%- include('../content/interest', { 
        interests: [
            'Cyclism', 
            'Trekking', 
            'Yoga', 
            'Meditation', 
            'Dogs', 
            'Beer', 
            'Friends', 
            'Reading', 
            'Politics', 
            'Coding', 
            'Constantly Learning'
        ] 
    }) %>

</section>