<div class="center-welcome-container"> 

    <h1 class="center-title">Welcome:)</h1>

    <div class="center-welcome-block">
        <div>
            <p class="center-description">
            I am a professional with <a class="crossed__out--word ">six years</a> of experience as an analyst, leveraging data to solve complex business challengues, with expertise in:
            </p>
        </div>
        
    </div>

    <div class="center-deatails-block">

        <ul class="center-description-list">

            <li>
                <p >Ingesting and transforming data to drive business intelligence.</p>
            </li>

            <li>
                <p >Building optimized datasets improving efficiency and performance.</p>
            </li>

            <li>
                <p > Monitoring data and automating workflows to streamline operations.</p>
            </li>

            <li>
                <p >Delivering actionable insights that empower 
                    organizations to make informed, data-driven decisions.</p>
            </li>

        </ul>

    </div>

</div>