/*==================== GOOGLE FONTS ====================*/
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: ;

  /*========== Colors ==========*/
  --hue-color: ;

  /* Dark Mode */
  --first-color: #ee1d52;
  --first-color-second: ;
  --first-color-alt: ;
  --first-color-lighter: ;
  --title-color: ;
  --text-color: #FFF;
  --text-color-light: rgb(203, 203, 203);
  --input-color: ;
  --second-color: #ddf247;
  --background-color: #1f2023;
  --background-color-lighter: #27292c;
  --container-color: ;

  /*========== Font and typography ==========*/
  --title-font:'Lato', sans-serif;
  --body-font: 'Montserrat', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --title-font-size: 50px;
  --big-font-size: 2rem;
  --h1-font-size: 2.2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 1.05rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.85rem;


  /*========== Font weight ==========*/
  --font-medium: 550;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-4: 4rem;
  --mb-5: 5rem;
  --mb-7: 7rem;
  --mb-10: 10rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --title-font-size: 70px;
    --big-font-size: 3rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== Variables Dark theme ==========*/

/*========== Button Dark/Light ==========*/

/*==================== BASE ====================*/

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--background-color);
  color: var(--text-color);
}

.main {
  padding-top: 4rem;
}

/*==================== REUSABLE CSS CLASSES ====================*/

.grid {
  display: -ms-grid;
  display: grid;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border-style: none;
}

.btn{
  background-color: var(--text-color);
  width: 12rem;
  padding: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  color: var(--background-color);
  font-weight: var(--font-bold);
  letter-spacing: .5px;
  box-shadow: 6px 6px 0 0 rgba(234, 234, 234, 0.185);
  margin: var(--mb-2) auto;
  transition: .5s ease-out;
  -webkit-transition: .5s ease-out;
  -moz-transition: .5s ease-out;
  -ms-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  cursor: pointer;
}

.btn:hover{
  background-color:var(--first-color);
  box-shadow: 6px 6px 0 0 #FFF;
  color: #FFF;
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  -ms-transition: .5s ease-in;
  -o-transition: .5s ease-in;
}

p {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  letter-spacing: .3px;
  line-height: 1.7rem;
}

.crossed__out--word {
  background-image: url("../images/tachado.svg");
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.first__color--word{
 color: #ee1d52;
}

.word__bold {
  font-weight: bold;
}

.section__title{
  font-size: var(--h1-font-size);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-2);
  font-family: var(--title-font);
}

.text__yellow-background{
  color: var(--background-color);
  background-color: var(--second-color);
  padding: 0 2px;
  border-radius: 5px;
}

/* SCROLLL */

[data-scroll]{
  opacity: 0;
  transform: translateX(-6rem) scale(0.93);
  transition: all 1.5s 
}

[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0) scale(1)
}


/*==================== LAYOUT ====================*/

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #383a3d;
  border-radius: 0.5rem;
  width: 7px;
  height: 7px;

}
::-webkit-scrollbar-corner {
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--first-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color);
}


/*==================== BUTTONS ====================*/


/*==================== NAV ====================*/
.header{
  max-width: 100%;
}
.nav {
  max-width: 100%;
}

.nav__header {
  margin: 0 auto;
  width: 100%;
  height: 4rem;
  background-color: var(--background-color);
  color: var(--text-color);
  z-index: var(--z-modal);
  align-items: center;
  justify-content: center;
}

.nav__header--box{
  grid-template-columns: .7fr .3fr;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  padding: 0 var(--mb-1);
  height: 4rem;
}

.nav__header--left{
 width: 100%;
 align-items: center;
 justify-content: center;
}

.nav__header--logo{
 justify-content: center;
 align-items: center;
}

.nav__header--img {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70px;
  justify-self: baseline;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background-color: var(--background-color-lighter);
}

.nav__header--text{
  font-size: var(--small-font-size);
  margin-left: 1rem;
  word-spacing: -10px;
  letter-spacing: 1px;
  word-wrap: break-word;
  width: 100%;
}

.nav__icon {
  width: 2rem;
  height: 1.5rem;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -ms-grid-column-align: right;
      justify-self: right;
  transition: 1s;
  cursor: pointer;
}

.box1,
.box2,
.box3 {
  background-color: var(--text-color);
  border-radius: 20px;
  position: absolute;
  -webkit-transition: ease-out .5s;
  -o-transition: ease-out .5s;
  transition: ease-out .5s;
}

.box1 {
  top: 0rem;
  height: 2.5px;
  width: 100%;
}

.box2 {
  top: .75rem;
  height: 2.5px;
  width: 100%;
}

.box3 {
  top: 1.5rem;
  height: 2.5px;
  width: 100%;
}

.box-active {
  -webkit-transition: ease-in .5s;
  -o-transition: ease-in .5s;
  transition: ease-in .5s;
  margin-top: .5rem;
  top: 0;
}

.box2-rotate {
  -webkit-transition: ease-in .5s;
  -o-transition: ease-in .5s;
  transition: ease-in .5s;
  margin-top: .5rem;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.box1-rotate {
  -webkit-transition: ease-in .5s;
  -o-transition: ease-in .5s;
  transition: ease-in .5s;
  margin-top: .5rem;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.box3-dissapear {
  -webkit-transition: ease-out .1s;
  -o-transition: ease-out .1s;
  transition: ease-out .1s;
  visibility: hidden;
  opacity: 0;
}

.nav__container {
  padding: var(--mb-2) var(--mb-3) var(--mb-2) var(--mb-3);
  top: 4rem;
  background-color: var(--background-color);
  width: 100%;
  left: -100%;
  transition: ease-out 1s;
  z-index: var(--z-modal);
  opacity: .98;
  margin: auto;
  transition: .6s ease-out;
  -webkit-transition: .6s ease-out;
  -moz-transition: .6s ease-out;
  -ms-transition: .6s ease-out;
  -o-transition: .6s ease-out;
}
.nav__container::-webkit-scrollbar {
  display: none;
}

/* Overflow Hidden */
.overflowy__hidden {
  overflow-y: hidden;
}

/* show menu */
.nav__container--active {
  left: 0;
  top: 4rem;
  opacity: 1;
  overflow-y: scroll;
  transition: .4s ease-in;
  -webkit-transition: .4s ease-in;
  -moz-transition: .4s ease-in;
  -ms-transition: .4s ease-in;
  -o-transition: .4s ease-in;
}

.nav__items{
  font-family: var(--title-font) ;
  font-size: var(--h1-font-size) ;
  font-weight: 600;
  line-height: 3.5rem;
  letter-spacing: 2px;
  color: var(--text-color);
}

.nav__contact--social {
  margin: var(--mb-2) 0;
  gap: var(--mb-1-5);
}

.nav__contact--icon {
  font-size: 1.8rem;
  color: var(--first-color);
}

.nav__release {
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-2);
}

.nav__release--header {
  align-items: center;
  gap: var(--mb-0-5);
  width: 100%;
}

.nav__release--title {
  font-size: 1.2rem;
}

.nav__release--arrow{
  font-size:30px;
  transition: .5s ease-out;
  -webkit-transition: .5s ease-out;
  -moz-transition: .5s ease-out;
  -ms-transition: .5s ease-out;
  -o-transition: .5s ease-out;
}

.nav__release--arrow-rotate {
  transform: rotate(-180deg);
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  -ms-transition: .5s ease-in;
  -o-transition: .5s ease-in;
}

.nav__release--content {
  display: none;
  opacity: 0;
  background-color: var(--background-color-lighter);
  padding: 1rem;
  margin-top: var(--mb-0-5);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 1s ease-out;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -ms-transition: 1s ease-out;
  -o-transition: 1s ease-out;
}

.nav__release--content-opened {
  transition: 1s ease-in;
  display: block;
  opacity: 1;
  -webkit-transition: 1s ease-in;
  -moz-transition: 1s ease-in;
  -ms-transition: 1s ease-in;
  -o-transition: 1s ease-in;
} 


.nav__release--coming{
  margin-top: var(--mb-0-25);
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  list-style: square;
  margin-left: var(--mb-1);
}

.nav__release--update {
  padding-top: var(--mb-0-5);
  font-size: .7rem;
  color: var(--first-color);
}

.dark{
  width: 100%;
  align-items: center;
  gap: var(--mb-1);
}

.dark__moon{
  font-size: 30px;
  color: var(--text-color);
}

.dark__language {
  size: 30px;
  width: 35px;
}

/* Active links */

/*==================== HOME ====================*/
.home {
  margin-top: 2rem;
  max-width: 100%;
}

.home__right {
  margin: 2rem auto;
  width: 80%;
}

.home__left{
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 100%;
  overflow-x: visible;
  overflow-y: hidden;
}
.home__left--alex{
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  letter-spacing: 2.5px;
  font-weight: 600;
  line-height: 4.5rem;
}

.home__left--text{
  margin-top: 2rem;
  color: var(--text-color-light);
}

.home__left--p {
  letter-spacing: .5px;
  line-height: 1.8rem;
}

/*==================== ABOUT ====================*/
.about{
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.about__content{
  overflow-x: auto;
  gap: 2.5rem;
  width: 100%;
  height: 100%;
  padding-bottom: var(--mb-1);
  /* justify-content: center;
  align-items: center; */
}


.about__content--template{
  height: 32rem;
  min-width: 18rem;
  background-color: var(--background-color-lighter);
  padding: var(--mb-1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px; 

}
.about__content--title {
  margin-top: var(--mb-1);
  margin-bottom: var(--mb-0-5);
  height: 2rem;
}

.about__container {
  width: 100%;
}

.about__content--intro {
  /* background-color: #ddf247; */
  width: 100%;
  max-height: 100%;
}

.about__content--intro-text{
  color: var(--text-color-light);
  width: 100%;
  height: 10rem;
}

.about__content--img {
  width: 100%;
  height: 15rem;
  bottom: 0;
  right: 0;
}

/*==================== SKILLS ====================*/
.skills {
  margin: 0 var(--mb-1) 4rem var(--mb-1);
  position: relative;
  padding-top: 2rem;
}

.skills__section--title{
  margin-top: 5rem;
}

.skills__container {
  row-gap: 0;
  position: relative;
}

.skills__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
  width: 100%;
  margin-top: var(--mb-2);
  background-color: var(--background-color-lighter);
  padding:  1rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.skills__icon{
  font-size: 2.5rem;
  color: var(--text-color);
  margin-right: var(--mb-0-75);
}

.skills__arrow {
  font-size: 2.5rem;
}
.skills__title {
  font-size: var(--h3-font-size);
}

.skills__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.skills__arrow {
  margin-left: auto;
  transition: .4s;
}

.skills__list {
  row-gap: 1.5rem;
  padding-left: var(--mb-0-5);
  padding-right: var(--mb-0-5);
}
.skills__data{
  padding-top: .5rem;
}
.skills__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage {
  height: 5px;
  border-radius: .25rem;
  margin-bottom: var(--mb-1);
}

.skills__bar {
  background-color: #FFF;
}

.skills__percentage {
  display: block;
  background-color: #ee1d52;
}

.skills__95{
  width: 95%;
}

.skills__80 {
  width: 80%;
}

.skills__70 {
  width: 70%;
}

.skills__50{
  width: 50%;
}

.skills__90 {
  width: 90%;
}

.skills__85 {
  width: 85%;
}

.skills__100 {
  width: 100%;
}

.skills__50{
  width: 50%;
}

.skills__close,
.skills__open{
  transition: 1.5s;
}

.skills__close .skills__list {
  height: 0;
  /* overflow: hidden; */
  transition: 1s;
  display: none;
}

.skills__open .skills__list {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: var(--mb-2-5);
  transition: 1s;
  display: block;
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
  transition: 1s;
}
/*==================== QUALIFICATION ====================*/
.qualification {
  background-color: var(--background-color);
  /* background-image: url("../img/about_extra_small_opp.svg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: local;
  margin: 0 var(--mb-1);
}

.qualification__tabs {
  grid-template-columns: .5fr .5fr;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-lighter);
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.qualification__content{
  background-color: var(--background-color-lighter);
  padding: 2rem 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.qualification__containter{
  margin-bottom: 4rem;
}

.qualification__button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.qualification__button:hover {
  color: var(--first-color);
}

.qualification__icon {
  font-size: 1.8rem;
  margin-bottom: var(--mb-0-25);
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  text-align: center;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.qualification__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-0-5);
}

.qualification__certificate {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  margin-bottom: var(--mb-0-25);
}

.qualification__certificate:hover {
  color: var(--first-color);
}

.qualification__calendar {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color:var(--first-color);
  transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.qualification__active[data-content] {
  display: block;
}

.qualification__button.qualification__active {
  color: var(--first-color);
  color: var(--first-color);
}

/*==================== CV ====================*/

.cv{
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
  height: 100%;
}

.cv__title {
  padding-top: var(--mb-2);
}

.cv__content{
  width: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
}

.cv__content--left{
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.cv__content--img {
  width: 100%;
  margin: 0 auto var(--mb-4) auto;
}

.cv__content--text{
  margin-bottom: 2rem;
  color: var(--text-color-light);
  margin:auto;
  margin-bottom: var(--mb-3);
}

.cv__content--left {
  margin-top: var(--mb-3);
}

/*==================== CONTACT ====================*/

.contact{
  margin: var(--mb-4) var(--mb-1);
}

.contact__content{
  width: 100%;
  padding: 0 0 var(--mb-2) 0;
  grid-template-columns: .6fr .4fr;
  justify-content: space-between;
  align-items: center;
}

.contact__content--text{
  color: var(--text-color-light);
}

.contact__items-btn{
  margin: auto;
}

/* Active Modal */

/*==================== PORTFOLIO ====================*/

/*==================== PROJECT IN MIND ====================*/

/*==================== TESTIMONIAL ====================*/

/*==================== FAQS ====================*/
.faqs{
  margin: var(--mb-2)  var(--mb-1);
}

.faqs__content--img{
  width: 100%;
  margin: var(--mb-2) auto 0 auto;
}

.faqs__template--header{
  margin-top: var(--mb-2);
  background-color: var(--background-color-lighter);
  padding: var(--mb-0-5) var(--mb-1);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faqs__template--question{
  margin: auto 0;
}

.faqs__template--arrow{
  justify-content: center;
  align-items: center;
  transition: 1s ease-out;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -ms-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  font-size: 50px;
}

.faqs__template--answer{
  margin-top: var(--mb-1);
  color: var(--text-color-light);
  background-color: var(--background-color-lighter);
  padding: var(--mb-0-5) var(--mb-1);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  padding: 3rem;
}

.faqs__template--closed .faqs__template--answer{
  height: 0;
  display: none;
  opacity: 0;
  transition: 10s ease-in;
  -webkit-transition: 10s ease-in;
  -moz-transition: 10s ease-in;
  -ms-transition: 10s ease-in;
  -o-transition: 10s ease-in;
}

.faqs__template--open .faqs__template--answer {
  height: 100%;
  display: inline-block;
  opacity: 1;
  transition: 10s ease-out;
  -webkit-transition: 10s ease-out;
  -moz-transition: 10s ease-out;
  -ms-transition: 10s ease-out;
  -o-transition: 10s ease-out;
}

.faqs__template--open .faqs__template--arrow {
  transform: rotate(-180deg);
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  -ms-transition: .5s ease-in;
  -o-transition: .5s ease-in;
}


/*==================== FOOTER ====================*/
.footer{
  margin: var(--mb-4) var(--mb-1);
 color: var(--text-color-light);
}

.footer__content {
  width: 20rem;
  margin: auto;
}

.footer__content p{
  font-size: var(--smaller-font-size);
  text-align: center;
}

.footer__img {
  margin: auto;
  width: 100px;
}

/*========== BOTTOM ==========*/

.bottom__container {
  display: none;
  opacity: 0;
  visibility: hidden;
  bottom: 0rem;
  right: 0rem;
  background-color: var(--background-color);
  padding: .5rem;
  width: 100%;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.bottom__content {
  width: 70%;
  background-color: var(--background-color-lighter);
  height: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-left: var(--mb-1);
  padding-right: var(--mb-1);
}

.bottom__active {
  display: flex;
  visibility: visible;
  transition: 2s ease-in;
  -webkit-transition: 2s ease-in;
  -moz-transition: 2s ease-in;
  -ms-transition: 2s ease-in;
  -o-transition: 2s ease-in;
  opacity: 1;
}

.bottom__up {
  right: 1rem;
}

.bottom__icon {
  font-size: 2.2rem;
  color: #FFF;
}

.bottom__text {
  font-size: var(--smaller-font-size);
}

.bottom__content div a {
  color: var(--text-color-light);
}

/* Show scroll */

/*========== SCROLL BAR ==========*/

/*==================== MEDIA QUERIES ====================*/
/* For small devices */

/* For medium devices */

@media screen and (min-width: 568px) {
  .section__title{
    margin-top: 4rem;
  }
  .nav__header {
    padding-left: var(--mb-2);
    padding-right: var(--mb-2);
  }
  .nav__container{
    padding-left: var(--mb-4);
    padding-right: var(--mb-4);
  }
  .cv,
  .contact,
  .skills,
  .about,
  .home,
  .faqs,
  .qualification{
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
  }
  .cv__content--img {
    width: 22rem;
  }
  .faqs{
    margin-top: 4rem;
  }
  .faqs__content--img{
    width: 90%;
  }
  .bottom{
    display: none;
    visibility: hidden;
  }
}

@media screen and (min-width: 768px) {
  .main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
  }
  .section__title{
    margin-top: 8rem;
    margin-bottom: var(--mb-4);
    font-size: var(--big-font-size);
  }
  .nav__header{
    height: 5rem;
  }
  .nav__header--box{
    height: 5rem;
  }
  .nav__container{
    padding-left: var(--mb-5);
    padding-right: var(--mb-5);
  }
  .home {
    margin-top: 6rem;
  }
  .home__content{
    grid-template-columns: .5fr .5fr;
    justify-content: center;
    align-items: center;
  }
  /* .home__left--text{
    width: 80%;
  } */
  .home__right--img{
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
   .about__content {
    overflow-x: hidden;
    display: grid;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 20rem));
    justify-content: center;
    align-items: center;
   }
   .skills__grid {
    grid-template-columns: .5fr .5fr;
    gap: var(--mb-3);
   }
   .qualification__containter {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   }
   .cv__content{
    grid-template-columns: .5fr .5fr;
   }
   .cv__content--right {
    margin-left: auto;
   }
   .cv__content--text{

    margin-left: auto;
   }
   
  .cv__content--btn {
    margin-left: auto;
    display: grid;
  }
}

@media screen and (min-width: 968px) {

}

/* For large devices */
@media screen and (min-width: 1024px) { 
  .about{
    /* width: 90%; */
    /* margin: auto; */
  }
  .home{
    /* width: 90%; */
    margin-left: auto;
    margin-right: auto;
  }
  .home__left {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .skills__header:hover {
    transition: .3s;
    color: var(--first-color);
    background-color: #FFF;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
  }
  .faqs__content--img {
    width: 80%;
    margin-top: 8rem;
  }
}

@media screen and (min-width: 1200px) {

  .section__title{
    margin-top: 10rem;
    margin-bottom: 6rem;
  }

  .about,
  .skills,
  .qualification,
  .cv,
  .contact,
  .faqs{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  
  .nav__container {
    display: grid;
    grid-template-columns: .5fr .5fr;
    justify-self: unset;
    justify-content: center;
    padding-top: 8rem;
  }

  .nav__container--links {
    height: max-content;
    line-height: 5rem;
    justify-content: center;
  }

  .nav__container--right {
    width: 25rem;
    height: max-content;
  }

  .nav__release {
    height: max-content;
  }

  .nav__release--header {
    margin-bottom: var(--mb-1);
  }

  .nav__release--arrow {
    display: none;
    visibility: hidden;
  }

  .nav__header--box{
    width: 90%;
  }
  
  .nav__release--content {
    display: block;
    opacity: 1;
    visibility: visible;
    width: 25rem;
  }

  .skills__grid{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .qualification__subtitle {
    width: 70%;
  }

  .qualification__containter {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .cv__content {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .cv__content--right{
    margin-left: auto;
    margin-right: auto;
  }

  .cv__content--img {
    width: 35rem;
  }

  .cv__content--text{
    width: 70%;
  }

  .contact {
    display: none;
    visibility: hidden;
  }

  .faqs__content--img {
    width:  60%;
  }

  .faqs__container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  /* .nav__header{
    width: 90%;
    margin: 0 auto;
  } */
  /* .nav__header{
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    justify-self: center;
  }
  .nav__header--left{
    margin: 0 auto;
  } */
  /* .home{
    width: 80%;
    margin: 0 auto;
  } */
}
