<div class="btn">
    <a target="_blank" href="<%= link %>"
    class="btn-text">    
        <p><%= text %></p>
    </a>
    <a target="_blank" href="<%= link %>" class="btn-arrow-container">
        
        <i class="uil uil-arrow-right btn-arrow"></i>
        
    </a>
</div> 